<section class="about" id="about">
	<h2 class="about__descr">
		ITI Capital was founded and has been serving clients since 1994, we have been helping investors to execute their investment strategies since inception.
	</h2>

	<div class="about__map-text">
		Financial technology business with the focus on global brokerage, asset management, fintech investments & technology transfer on a global scale under the umbrella of the ITI Group
	</div>

	<div class="about__map">
		<img src="./img/map.png" alt="">
	</div>

	<ul class="about__list">
		<li class="about__list-item">
			United Kingdom
		</li>

		<li class="about__list-item">
			<div class="about__list-item-icon">
				{% include '../../img/link.svg' %}
			</div>

			<a href="#">
				Guernsey
			</a>
		</li>

		<li class="about__list-item">
			<div class="about__list-item-icon">
				{% include '../../img/link.svg' %}
			</div>

			<a href="#">
				Russia
			</a>
		</li>
	</ul>

	<ul class="about__list">
		<li class="about__list-item">
			<a href="#">
				Cyprus
			</a>
		</li>

		<li class="about__list-item">
			<a href="#">
				Kazakhstan
			</a>
		</li>

		<li class="about__list-item">
			<a href="#">
				Qatar
			</a>
		</li>
	</ul>
</section>