<section class="careers" id="careers">
	<h2 class="g-section-title">
		Careers
	</h2>
	<div class="container">
		<div class="careers__items">
			<a href="#" class="careers-item">
				<div class="careers-item__icon">
					{% include '../../img/person.svg' %}
				</div>

				<div class="careers-item__bottom">
					<div class="careers-item__title">Advisory associate</div>
					<div class="careers-item__descr">
						Duties and responsibilities: Servicing new and existing clients via video chat and by phone / Participate in Investment Committee / Communicate with...
					</div>
				</div>
			</a>

			<a href="#" class="careers-item">
				<div class="careers-item__icon">
					{% include '../../img/person.svg' %}
				</div>

				<div class="careers-item__bottom">
					<div class="careers-item__title">Customer Service associate</div>
					<div class="careers-item__descr">
						Duties and responsibilities: Driving the customer journey by responding to customer enquiries via telephone and email in a friendly, approachable tone / Assist...
					</div>
				</div>
			</a>
		</div>
	</div>
</section>