<div class="cookie">
	<div class="cookie__message">
		We use cookies on our websites. You are free to manage this via your browser setting at any time. To learn more about how we use the cookies, please see our <a href="https://iticapital.com/wp-content/uploads/2018/05/Privacy-policy_1.pdf">Privacy Policy</a>
	</div>

	<button class="cookie__btn" onclick="o2.closeAlert(this, 'acceptedCookie')">
		Accept
	</button>
</div>