<section class="digital-about-wr">
	<div class="container">
		<div class="digital-about">
			<div class="digital-about__img">
				<img src="./img/digital-about.jpg">
			</div>
			<div class="digital-about-descr">
				<p class="digital-about-descr__p">
					ITI Digital is&nbsp;an&nbsp;EMEA region focused investment bank with core team combines 50+&nbsp;years of&nbsp;traditional banking with an&nbsp;impressive track-record in&nbsp;digital assets, having raised over $2bn in&nbsp;the crypto capital markets in&nbsp;the last few years
				</p>
				<p class="digital-about-descr__p">
					ITI products and services suite includes sales and trading of&nbsp;digital assets for institutional investors, asset management and corporate advisory including advisory and toke, equity and debt capital raising
				</p>
				<p class="digital-about-descr__p">
					Revenues target in&nbsp;2020 of&nbsp;$5m
				</p>
			</div>
		</div>
	</div>
</section>