<section class="exchanges-participants">
	<h2 class="g-title-devider">
		Direct Participants of Exchanges
	</h2>

	<div class="exchanges-participants__items">
		<div class="exchanges-participants__item">
			<div class="exchanges-participants__item-logo">
				<img src="./img/uk-lse.svg" alt="">
			</div>

			<div class="exchanges-participants__item-name">
				uk lse
			</div>
		</div>

		<div class="exchanges-participants__item">
			<div class="exchanges-participants__item-logo">
				<img src="./img/uk-liob.svg" alt="">
			</div>

			<div class="exchanges-participants__item-name">
				uk liob
			</div>
		</div>

		<div class="exchanges-participants__item">
			<div class="exchanges-participants__item-logo">
				<img src="./img/moex.svg" alt="">
			</div>

			<div class="exchanges-participants__item-name">
				MOEX
			</div>
		</div>

		<div class="exchanges-participants__item">
			<div class="exchanges-participants__item-logo">
				<img src="./img/spimex.svg" alt="">
			</div>

			<div class="exchanges-participants__item-name">
				SPIMEX
			</div>
		</div>

		<div class="exchanges-participants__item">
			<div class="exchanges-participants__item-logo">
				<img src="./img/aix.svg" alt="">
			</div>

			<div class="exchanges-participants__item-name">
				aix
			</div>
		</div>
	</div>
</section>