<div class="exchange-map">
	<div class="exchange-map__inner">
		<div class="exchange-map__map">
			<picture>
				<source media="(max-width: 1279px)" srcset="./img/exchange-map-static.svg">
				<img src="./img/exchange-map.svg">
			</picture>

			{# market exchange points #}
			<div class="exchange-map__point" style="top: 193px; left: 263px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						CBOE
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 253px; left: 263px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						ICE Exchange
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 193px; left: 523px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Irish SE
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 253px; left: 533px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Bolsa Madrid
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 203px; left: 563px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Euronext
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 163px; left: 583px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Oslo Bors
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 203px; left: 583px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Deutsche Börse
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 243px; left: 583px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Borsa Italiana
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 223px; left: 593px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Wiener Börse
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 193px; left: 613px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Warsaw SE
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 213px; left: 613px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Prague SE
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 223px; left: 623px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Budapest SE
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 263px; left: 623px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Athens Exchange
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 493px; left: 643px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						JSE
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 253px; left: 653px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Borsa İstanbul
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 293px; left: 673px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						TASE
					</div>
				</div>
			</div>

			<div class="exchange-map__point" style="top: 223px; left: 773px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						AIX (ITI Capital is a direct Member)
					</div>
				</div>
			</div>

			{# market access points #}
			<div class="exchange-map__point exchange-map__point--small" style="top: 325px; left: 215px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Mexico
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 175px; left: 305px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Canada
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 245px; left: 305px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — United States
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 455px; left: 385px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Brazil
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 385px; left: 885px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Malaysia
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 355px; left: 895px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Thailand
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 405px; left: 905px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Singapore
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 255px; left: 945px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — China
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 315px; left: 945px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Hong Kong
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 345px; left: 955px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Pilipinas
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 275px; left: 1025px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Japan
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 515px; left: 1055px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — Australia
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--small" style="top: 545px; left: 1145px">
				<div class="g-tooltip">
					<div class="exchange-map__market">
						Market Access — New Zealand
					</div>
				</div>
			</div>

			{# multiple market exchange points #}
			<div class="exchange-map__point exchange-map__point--big" style="top: 217px; left: 327px">
				<span>4</span>

				<div class="g-tooltip">
					<div class="exchange-map__market">
						Nasdaq OMX
					</div>

					<div class="exchange-map__market">
						ITG Posit
					</div>

					<div class="exchange-map__market">
						Instinet's BlockMatch
					</div>

					<div class="exchange-map__market">
						Liquidnet
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--big" style="top: 197px; left: 537px">
				<span>5</span>

				<div class="g-tooltip">
					<div class="exchange-map__market">
						<div class="exchange-map__market-name">
							UK LSE
						</div>

						<div class="exchange-map__market-note">
							ITI Capital is a direct Member
						</div>
					</div>

					<div class="exchange-map__market">
						<div class="exchange-map__market-name">
							UK LIOB
						</div>

						<div class="exchange-map__market-note">
							ITI Capital is a direct Member
						</div>
					</div>

					<div class="exchange-map__market">
						Aquis
					</div>

					<div class="exchange-map__market">
						Equiduct
					</div>

					<div class="exchange-map__market">
						Turquoise
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--big" style="top: 217px; left: 567px">
				<span>2</span>

				<div class="g-tooltip">
					<div class="exchange-map__market">
						SIX Swiss
					</div>

					<div class="exchange-map__market">
						Sigma MTF
					</div>
				</div>
			</div>

			<div class="exchange-map__point exchange-map__point--big" style="top: 167px; left: 677px">
				<span>2</span>

				<div class="g-tooltip">
					<div class="exchange-map__market">
						<div class="exchange-map__market-name">
							Moscow Exchange
						</div>

						<div class="exchange-map__market-note">
							ITI Capital is a direct Member
						</div>
					</div>

					<div class="exchange-map__market">
						<div class="exchange-map__market-name">
							SPIMEX
						</div>

						<div class="exchange-map__market-note">
							ITI Capital is a direct Member
						</div>
					</div>
				</div>
			</div>

			<h1 class="exchange-map__title">
				Access to 100+ <br>Global Markets
			</h1>
		</div>

	</div>
</div>