<nav class="home-nav">
	<a href="#" class="home-nav-item">
		<div class="home-nav-item__icon">
			{% include '../../img/advisory.svg' %}
		</div>

		<div class="home-nav-item__bottom">
			<div class="home-nav-item__title">Advisory -></div>
			<div class="home-nav-item__descr">
				Our tailor-made passive and active investment portfolios provide a complete piece of mind to our customers
			</div>
		</div>
	</a>

	<a href="#" class="home-nav-item">
		<div class="home-nav-item__icon">
			{% include '../../img/Desktop.svg' %}
		</div>

		<div class="home-nav-item__bottom">
			<div class="home-nav-item__title">Trading -></div>
			<div class="home-nav-item__descr">
				Sophisticated trading technology built by traders for traders
			</div>
		</div>
	</a>

	<a href="#" class="home-nav-item">
		<div class="home-nav-item__icon">
			{% include '../../img/fx.svg' %}
		</div>

		<div class="home-nav-item__bottom">
			<div class="home-nav-item__title">FX -></div>
			<div class="home-nav-item__descr">
				Trade margin FX on majors, minors and most exotic currency pairs via MT4
			</div>
		</div>
	</a>

	<!-- <a href="#" class="home-nav-item">
		<div class="home-nav-item__icon">
			{% include '../../img/margin.svg' %}
		</div>

		<div class="home-nav-item__bottom">
			<div class="home-nav-item__title">Margin Lending -></div>
			<div class="home-nav-item__descr">
				Investment loan that lets you borrow money to invest in shares
			</div>
		</div>
	</a> -->
</nav>