<div class="home-group-nav">
	<a href="#" class="home-group-nav__item">
		<div class="home-group-nav__item-marker"></div>
		<div class="home-group-nav__item-title">
			ITI Capital
		</div>
		<div class="home-group-nav__item-descr">
			Financial Services ->
		</div>
	</a>

	<a href="#" class="home-group-nav__item">
		<div class="home-group-nav__item-marker"></div>
		<div class="home-group-nav__item-title">
			ITI Funds
		</div>
		<div class="home-group-nav__item-descr">
			Funds Platform ->
		</div>
	</a>

	<a href="#" class="home-group-nav__item">
		<div class="home-group-nav__item-marker"></div>
		<div class="home-group-nav__item-title">
			ITI Digital
		</div>
		<div class="home-group-nav__item-descr">
			Fintech & Digital Assets ->
		</div>
	</a>

	<a href="#" class="home-group-nav__item">
		<div class="home-group-nav__item-marker"></div>
		<div class="home-group-nav__item-title">
			ITI Tech
		</div>
		<div class="home-group-nav__item-descr">
			IT Services ->
		</div>
	</a>
</div>