<section class="home" id="home">
	<div class="home-banner">
		<div class="container">
			<h1 class="home-banner__title">
				Take control of your investments
			</h1>

			<div class="home-banner__descr">
				ITI Capital offers a variety of investment services, from a simple to use online multiasset trading account that puts you in control, to a more bespoke tailored advised account that helps you along the way
			</div>

			{% include "../blocks/promo-numbers.twig" %}
		</div>
	</div>

	{% include "../blocks/home-nav.twig" %}
</section>