<label class="lang-switch">
	<input type="checkbox" class="lang-switch__checkbox">
	<div class="lang-switch__ui">
		<div class="lang-switch__circle"></div>
		<div class="lang-switch__flags">
			<div class="lang-switch__flag active">
				<img src="img/flag-eng.svg" alt="eng">
			</div>
			<div class="lang-switch__flag">
				<img src="img/flag-ru.svg" alt="ru">
			</div>
		</div>
	</div>
</label>