<section class="leadership" id="leadership">
	<div class="g-section-title">
		leadership
	</div>
	<div class="leadership__content">
		<div class="container">
			{% for item in items %}
			<div class="leadership-item">
				<div class="leadership-item__text">
					<div class="leadership-item__title">{{item.title}}</div>
					<div class="leadership-item__subtitle">{{item.subtitle}}</div>
					<div class="leadership-item__descr">{{item.descr}}</div>
				</div>
				<div class="leadership-item__img">
					<img src="./img/{{item.img}}">
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>