<section class="our-people {{modifier}}" id="our-people">
	<h2 class="g-section-title">
		our people
	</h2>

	<div class="our-people__items">
		<div class="container {% if masonry == true %} _masonryGrid {% endif %}">
			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/brummas.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Leonardo Brummas Carvalho
				</div>

				<div class="our-people-item__position">
					CEO Private Clients & Wealth Management
				</div>

				<div class="our-people-item__descr">
					Leonardo has 23 years of experience in the financial services industry. He has held several executive positions with Credit Suisse. At his previous role he was Head of Emerging Europe London from 2013 to 2019 with a focus on Russia and the CIS and previously he was CEO/Country manager Panama. In 2019 Leonardo was invited to ITI Capital as CEO Wealth Management. He is responsible for restructuring the group, further digitization and accelerating its growth.
				</div>
			</div>

			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/chuprin.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Andrey Chuprin
				</div>

				<div class="our-people-item__position">
					CEO Institutional Business
				</div>

				<div class="our-people-item__descr">
					Andrey has over 20 years of experience in financial sector joining us from Nomura where he was a Managing Director, Head of Russia & CIS Global Markets Sales. Prior to that he was a Managing Director, heading FICC Sales at Sberbank CIB as well as Director at Credit Suisse and Merrill Lynch. <br> <br>

					At ITI Capital, Andrey oversees an important area of capital and liquidity management across all locations. He also focuses on growing our capital markets and financing capabilities for various client segments.
				</div>
			</div>

			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/dontsov.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Nikolay Dontsov
				</div>

				<div class="our-people-item__position">
					COO of ITI Group
				</div>

				<div class="our-people-item__descr">
					Prior to that Nikolay held CEO positions of ITI Group, ITI Funds and investment advisor for Da Vinci Capital. Previous experience of Nikolay includes various top management and business development positions in Renaissance Capital and VTB Capital.
				</div>
			</div>

			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/panov.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Philipp Panov
				</div>

				<div class="our-people-item__position">
					Global Head of Structured Notes & Head of Russia
				</div>

				<div class="our-people-item__descr">
					Philipp has been working in the financial market since 1993. Prior to joining ITI Capital as a Managing Director, he was responsible for team-building and sales in Uralsib Capital and  Renaissance Capital, interacting with institutional, corporate, private (HNWI) clients. Since joining ITI Capital in 2018, Philipp has been developing the group’s business in Russia.
				</div>
			</div>

			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/kelso.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Stephen Kelso
				</div>

				<div class="our-people-item__position">
					Head of Markets at ITI Capital
				</div>

				<div class="our-people-item__descr">
					Stephen is a high-energy leader and investment professional with a 24-year track record building trading businesses and hedge funds at leading investment firms. His focus is on the balance of risk, reward, volatility and liquidity across asset classes in EM and DM.
					Stephen is Head of Markets at ITI Capital, the multi-asset EM specialist in London. He recently built Galaxy Digital’s business in Europe. Previously, he was CEO of FirstRand’s Multi-Asset business, Ashburton International. There, he oversaw new highs in AUM and fund performance NAVs. Throughout the Global Financial Crisis, Stephen ran the Central Risk Engine and financing businesses at Renaissance Capital. Previously he ran the Global Volatility arbitrage fund at KBC. He started his career at Goldman Sachs and Lehman Brothers, where he ran index options trading.
					Stephen holds a Masters in Engineering from Cambridge University (St Catharine’s College), where he was awarded the Nicholas Prize for Leadership.
				</div>
			</div>

			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/agarwal.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Rahul Agarwal
				</div>

				<div class="our-people-item__position">
					Head of Private Clients UK
				</div>

				<div class="our-people-item__descr">
					Rahul has over 20 years of experience within the financial sector working at firms such as TD Ameritrade in America and then ETRADE, Saxo Capital Markets and IG in the UK. Most recently he was at Societe Generale Securities Services in the UK where he was involved in the Wealth Management offering.<br>
					<br>
					At ITI Capital, Rahul will be responsible for the profitability of the private client business including product, sales & marketing and dealing.
				</div>
			</div>

			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/iseux.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Pierre Iseux
				</div>

				<div class="our-people-item__position">
					Managing Director
				</div>

				<div class="our-people-item__descr">
					Pierre Iseux benefits of over 20 years of investment banking experience. He formerly had positions with Credit Suisse First Boston, Bank of America, Commerzbank and Brandon Hill Capital.<br>
					<br>
					Pierre has a solid experience in running equity and debt transactions and he has strong relationships with a number of investment groups, SWF, credit funds and wealth managers in Europe and Middle-East.
				</div>
			</div>

			{# <div class="our-people-item">
				<div class="our-people-item__name">
					Anatoly Gorlov
				</div>

				<div class="our-people-item__position">
					Head of Advisory
				</div>

				<div class="our-people-item__descr">
					Anatoly has over 10 years of Investment Banking and Asset Management experience working in the firms such as BNP Paribas CIB, J.P. Morgan, Fusion AM as well running consultancy projects for HNW individuals as part of a family office and as a private practice.<br>
					<br>
					Anatoly is a co-founder of a London-based fintech startup Fintuiy that provides digital financial advisory services, and also one of the founders of the two Luxembourg-based investment funds focusing on global macro, derivatives, fixed income and alternative investment strategies as well as providing passive exposure to the proprietarily design crypto Index.<br>
					<br>
					At ITI Capital Anatoly is responsible for design and implementation of Advisory and Discretionary propositions for Private Clients business.
				</div>
			</div> #}


			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/zanatta.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Rafael Zanatta
				</div>

				<div class="our-people-item__position">
					Head of Prime Brokerage / DMA
				</div>

				<div class="our-people-item__descr">
					Rafael Zanatta joined ITI Capital to develop the Direct Market Access business into Russian and worldwide markets focusing on low latency and algorithmic trading solutions. Previously he worked at Eurex Exchange where for over 5 years he covered Equity & Equity Index Derivatives Sales in the UK, Ireland and Iberian markets. Rafael graduated from London Metropolitan University with a first class Bachelor’s Degree in European Banking & Finance.
				</div>
			</div>

			<div class="our-people-item">
				<div class="our-people-item__img">
					<img src="./img/musseau.jpg" alt="">
				</div>

				<div class="our-people-item__name">
					Svetlana Musseau
				</div>

				<div class="our-people-item__position">
					Director Structured Products
				</div>

				<div class="our-people-item__descr">
					Svetlana began her career in 2005 working for Deutsche Bank on an exotic derivatives desk and has since worked in client solutions teams across such banks as BNP Paribas and Goldman Sachs. She has focused on and developed businesses across structuring,  structured financing,  special-situation investments and corporate hedging solutions. Svetlana holds a Masters in Finance honours degree from Cass Business School in London.
				</div>
			</div>
		</div>
	</div>
</section>