<section class="our-mission">
	<div class="container">
		<div class="our-mission__header">
			<div class="g-section-title g-section-title--line g-section-title--line-purple">OUR Mission</div>

			<div class="our-mission__header-text">
				We will continually customise IT  infrastructures to meet the needs of our clients in an ever-changing marketplace
			</div>
		</div>
	</div>

	<div class="container">
		<div class="our-mission__content">
			<div class="promo-numbers">
				<div class="promo-numbers__item">
					<div class="promo-numbers__item-number">
						30 000 +
					</div>
					<div class="promo-numbers__item-descr">
						clients
					</div>
				</div>

				<div class="promo-numbers__item">
					<div class="promo-numbers__item-number">
						6 offices
					</div>
					<div class="promo-numbers__item-descr">
						in Europe & Asia
					</div>
				</div>

				<div class="promo-numbers__item">
					<div class="promo-numbers__item-number">
						240
					</div>
					<div class="promo-numbers__item-descr">
						employees
					</div>
				</div>
			</div>

			<section class="management">
				<div class="g-section-title g-section-title--line g-section-title--line-purple management__title">OUR VALUES</div>
				<div class="management-content">
					<div class="management-content__img">
						<img src="./img/values-pic.jpg" alt="">
					</div>
					<div class="management-content-text">
						<div class="management-content-text__title">Insight</div>
						<p class="management-content-text__p">Our experience and expertise enable us to predict financial market trends and offer our clients the latest trading ideas, investment products and projects</p>

						<div class="management-content-text__title">Technology</div>
						<p class="management-content-text__p">Proprietary software, professional development team. In 2017 ITI Capital was ranked among the fastest-growing technology companies in Europe, Middle East and Africa by Deloitte (Technology Fast 500™ for EMEA)</p>

						<div class="management-content-text__title">Innovation</div>
						<p class="management-content-text__p">We introduce new technologies or upgrades that are designed to achieve both product differentiation and low costs.</p>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>