<section class="our-services">
	<h2 class="g-page-subtitle">
		ITI is your Partner for Tomorrow’s World
	</h2>

	<div class="our-services__descr">
		We aim to be the Number One Partner for clients prioritising efficient trading solutions and profitable, responsible investment solutions beyond the usual confines.
	</div>

	<div class="g-typography">
		<p>
			We observe that opportunities in global mega-trends like Technology, Healthcare and Retail can often be more compelling in Emerging Markets across a range of instruments.
		</p>

		<p>
			Our global team has multi-decade experience across all traditional asset classes in Developed and Emerging markets. We provide access, leverage and risk-management to over 100 markets and provide vanilla and structured multi-asset solutions from Equity Financing and Execution, Commodity Trade Financing, FX Hedging, Structured Products and Digital Asset Solutions.
		</p>
	</div>

	<h2 class="g-page-subtitle">
		Our Services
	</h2>

	<div class="g-typography">
		<p>
			A respected financial technology and multi-asset agency execution provider for the world’s most dynamic and innovative institutions, all focusing on the generation and/or protection of Alpha. Attention to delivering outstanding customer service, technology and best execution solutions specialising in both European emerging and developed markets.
		</p>
	</div>

	<div class="g-title-devider">
		Our suite of services include
	</div>

	<div class="private-section__links">
		<a href="#inst-0" onclick="o2.scrollTo('#inst-0')" class="link-card link-card--grey">
			<div class="link-card__inner">
				<div class="link-card__title">
					Global Direct Electronic Access ->
				</div>

				<div class="link-card__descr">
					Asset Class Coverage: <br>Global Equities, Exchange Listed Derivates
				</div>

				<div class="link-card__descr">
					Global Exchanges and Venues: <br>
					EMEA Market / Venue Access, Americas, Asia Pacific
				</div>
			</div>
		</a>

		<a href="#inst-1" onclick="o2.scrollTo('#inst-1')" class="link-card link-card--grey">
			<div class="link-card__inner">
				<div class="link-card__title">
					Moscow Exchange Low Latency Solutions ->
				</div>

				<div class="link-card__descr">
					Low Latency Connectivity, Sponsored Market Access, Hardware Support and Advice
				</div>
			</div>
		</a>

		<a href="#inst-2" onclick="o2.scrollTo('#inst-2')" class="link-card link-card--grey">
			<div class="link-card__inner">
				<div class="link-card__title">
					Global High-touch Trading ->
				</div>

				<div class="link-card__descr">
					Multi-Asset Coverage, Global Coverage, Analytical and Trading Commentary, Block Trading
				</div>
			</div>
		</a>

		<a href="#inst-3" onclick="o2.scrollTo('#inst-3')" class="link-card link-card--grey">
			<div class="link-card__inner">
				<div class="link-card__title">
					Foreign Exchange ->
				</div>

				<div class="link-card__descr">
					Margin FX MT4, Deliverable FX
				</div>
			</div>
		</a>

		<a href="#inst-4" onclick="o2.scrollTo('#inst-4')" class="link-card link-card--grey">
			<div class="link-card__inner">
				<div class="link-card__title">
					Securities Financing ->
				</div>

				<div class="link-card__descr">
					Stock Borrowing and Lending, Repo and Reverse Repo
				</div>
			</div>
		</a>

		<a href="#inst-5" onclick="o2.scrollTo('#inst-5')" class="link-card link-card--grey">
			<div class="link-card__inner">
				<div class="link-card__title">
					Structured product ->
				</div>

				<div class="link-card__descr">
					Derivatives, Corporate Hedging, Structured Notes, Special Situations
				</div>
			</div>
		</a>

		<a href="#inst-6" onclick="o2.scrollTo('#inst-6')" class="link-card link-card--grey">
			<div class="link-card__inner">
				<div class="link-card__title">
					Research and Analysis ->
				</div>

				<div class="link-card__descr">
					Proprietary and bespoke Thematic Reviews, Model Portfolio, Technical Analysis, Investment recommendations
				</div>
			</div>
		</a>
	</div>
</section>