<section class="partners" id="partners">
	<div class="container">
		<h2 class="g-section-title partners__title">
			Direct participant
		</h2>

		<div class="partners__list">
			<div class="partners__list-item">
				<img src="./img/london-exchange.svg" alt="">
			</div>

			<div class="partners__list-item">
				<img src="./img/moscow-exchange.svg" alt="">
			</div>

			<div class="partners__list-item">
				<img src="./img/astana-exchange.svg" alt="">
			</div>
		</div>

		<hr class="partners__devider">

		<div class="g-section-title partners__title">
			Selected vendors & partners
		</div>

		<div class="partners__list">
			<div class="partners__list-item">
				<img src="./img/rjo.svg" alt="">
			</div>

			<div class="partners__list-item">
				<img src="./img/nomura.svg" alt="">
			</div>

			<div class="partners__list-item">
				<img src="./img/gpp.svg" alt="">
			</div>

			<div class="partners__list-item">
				<img src="./img/societe.svg" alt="">
			</div>
			<div class="partners__list-item">
				<img src="./img/interactive-brokers.svg" alt="">
			</div>
		</div>
	</div>
</section>