{% extends "../layouts/default-popup.twig" %}

{% set popupId = 'popup-alert-covid' %}
{% set popupClass = 'popup-alert' %}

{% block popupConent %}
<h2 class="g-page-subtitle">
	A message from ITI Capital on operations during COVID-19
</h2>
<div class="popup-alert__message">
	<div class="g-typography">
		<p>Dear Clients!</p>
		<p>As COVID-19 (the coronavirus) continues to impact the global community, we want to assure you that during these volatile market conditions your assets and cash held with ITI Capital continue to be protected under CASS rules. As a firm, ITI remains well capitalised. In addition, we are doing what we can to continue providing you with the service you require from us.</p>
		<p>In the build up to the recent events, ITI began implementing a multi staged BCP plan for all our critical functions globally. Based on guidelines from regulators and global health authorities, we have taken a number of steps to ensure business continuity and help halt the spread of COVID-19.</p>
		<p>As ITI is a digital business, we have taken advantage of our investments in technology so that employees can work remotely in a safe and effective way. We have been coordinating efforts with our partners and suppliers so that the running of our platforms will not be impacted.</p>
		<p>As part of our third-party impact assessment at this time, we have been advised by our bankers that any funds received in the form of cheque, is likely to be delayed and/or may not be settled. Therefore, for us to continue you to provide you with the highest level of support within our daily operations, we strongly suggest we use electronic fund transfers to send in any money you wish to be applied to your account.
			We have also instated strict travel policies and instructed all employees in how to conduct both external and internal meetings through digital tools.</p>
		<p>As this is an unprecedented time for all of us, and the situation continues to evolve each day, we will continue to follow the situation closely, and update our approach and measures as required.</p>
	</div>
</div>
{% endblock %}