{% extends "../layouts/default-popup.twig" %}

{% set popupId = 'popup-alert-fraud' %}
{% set popupClass = 'popup-alert' %}

{% block popupConent %}
<h2 class="g-page-subtitle">
	Fraud Alert
</h2>
<div class="popup-alert__message">
	<div class="g-typography">
		<p>Fraudsters claim to be from a legitimate firm authorised by FCA.  Fraudsters look for new ways to scam consumers, but one scam increasingly reported to us and  to the FCA involves share scammers pretending to be from a regulated firm, who are authorised by FCA.  </p>
		<p>These scammers typically cold-call investors to promote shares, property or other investment opportunities that are non-tradable, worthless, overpriced or even non-existent.</p>
		<p>A new tactic has seen fraudsters using the name, ‘firm registration number’ (FRN) and address of firms and individuals authorised by us to suggest they are genuine</p>
		<p>This is what we call a ‘clone firm’. ITI Capital Limited <span class="g-highlighted">does NOT make</span> unsolicited cold calls!</p>

		<h3 class="g-title-semi">Protect Yourself</h3>

		<p>If you are offered unsolicited investment advice, discounted shares, a premium price for shares you own, or free company or research reports, you should take these steps before handing over any money:</p>

		<b>To reduce the chance of falling victim to investment fraud, the FCA advises consumers to, at the very least:</b>

		<ol class="g-num-list">
			<li>Reject unsolicited investment offers whether made online, on social media or over the phone.</li>
			<li>Before investing, check the <a href="https://register.fca.org.uk/" target="_blank" class="g-link">FCA Register</a> to see if the firm or individual you are dealing with is authorised and check the <a href="http://scamsmart.fca.org.uk/warninglist/" target="_blank" class="g-link">FCA Warning List</a> of firms to avoid.</li>
		</ol>

		<h3 class="g-title-semi">Report a Scam</h3>

		<p>If you are approached about a share scam you should tell the FCA using the <a href="https://www.fca.org.uk/consumers/report-scam-unauthorised-firm" target="_blank" class="g-link">Share Fraud Reporting Form</a>, where you can find out about the latest investment scams. You can also call the FCA Consumer Helpline on <a href="tel:08001116768" class="g-link">0800 111 6768</a>.</p>
		<p><b>If you have already paid money to share fraudsters you should contact</b> ActionFraud on <a href="tel:03001232040" class="g-link">0300 123 2040</a> or use the <a href="https://www.actionfraudalert.co.uk/Contact" target="_blank" class="g-link">ActionFraud Online Reporting Tool</a>. For the latest information on coronavirus-related fraud you can follow <a href="https://twitter.com/actionfrauduk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="g-link">Action Fraud on Twitter</a>.</p>
		<p>More detailed information on this or similar activity can be found on the <br>
		<a href="https://www.fca.org.uk/" target="_blank" class="g-link">FCA web site -></a></p>
	</div>
</div>
{% endblock %}