<section class="products">
	<div class="g-section-title g-section-title--line">
		products
	</div>
	<div class="container products__content">
		<div class="products__part">
			<div class="products__part-sticky">
				<div class="products__img">
					<img src="./img/products-btce.jpg" alt="">	
				</div>
				<div class="products-block products-res">
					<div class="products-res__title">Useful Resources</div>
					<div class="products-res__content">
						<div class="products-res__content-part">
							<a href="#" class="products-res__link">Prospectus -></a>
							<a href="#" class="products-res__link">2-pager -></a>
							<a href="#" class="products-res__link">FAQ -></a>
						</div>
						<div class="products-res__content-part">
							<a href="#" class="products-res__link">Primer -></a>
							<a href="#" class="products-res__link">BTCE points of Difference Authorised Participants -></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="products__part products__text">
			<div class="products-block products-descr">
				<div class="products-descr__title">BTCE</div>
				<div class="products-descr__text">BTCetc Bitcoin Exchange Traded Crypto (Ticker: BTCE) is&nbsp;an&nbsp;exchange traded cryptocurrency (ETC) that tracks the price of&nbsp;Bitcoin. The ETC is&nbsp;100% physically backed by&nbsp;Bitcoin and trades on&nbsp;Deutsche B&ouml;rse &#769;s&nbsp;XETRA. It&nbsp;is&nbsp;the world&rsquo;s first centrally cleared Bitcoin ETC, providing investors with one of&nbsp;the safest and most liquid ways to&nbsp;gain exposure to&nbsp;Bitcoin. Each unit of&nbsp;BTCE gives the holder a&nbsp;claim on&nbsp;a&nbsp;predefined amount of&nbsp;Bitcoin. BTCE is&nbsp;issued by&nbsp;ETC Group and marketed and distributed by&nbsp;ITI Digital. The value of&nbsp;your investment may go&nbsp;down as&nbsp;well as&nbsp;up&nbsp;and past performance is&nbsp;no&nbsp;indication of&nbsp;future performance. Your capital is&nbsp;at&nbsp;risk.</div>
			</div>
			<div class="products-block products-adv">
				<div class="products-block__title products-adv__title">Product Advantages</div>
				<div class="products-adv-item">
					<div class="products-adv-item__title">An&nbsp;easier way to&nbsp;invest in&nbsp;cryptocurrency</div>
					<div class="products-adv-item__descr">Investing in&nbsp;BTCE is&nbsp;as&nbsp;simple as&nbsp;buying shares through your broker or&nbsp;bank. Unlike investing directly in&nbsp;Bitcoin, there is&nbsp;no&nbsp;need to&nbsp;engage with the technical challenges of&nbsp;setting up&nbsp;a&nbsp;cryptocurrency wallet to&nbsp;store Bitcoin. Your units of&nbsp;BTCE are safely held with your broker or&nbsp;bank</div>
				</div>
				<div class="products-adv-item">
					<div class="products-adv-item__title">Invest in&nbsp;Bitcoin on&nbsp;a&nbsp;regulated exchange</div>
					<div class="products-adv-item__descr">BTCE is&nbsp;traded on&nbsp;XETRA, one of&nbsp;the largest exchanges in&nbsp;Europe.Investors can trade with confidence knowing that all market participants are strictly vetted and carefully monitored to&nbsp;prevent market abuse unlike cryptocurrency exchanges, many of&nbsp;which are unregulated. The issuer has partnered with world-class liquidity providers to&nbsp;ensure ample on&nbsp;exchange liquidity and tight spreads</div>
				</div>
				<div class="products-adv-item">
					<div class="products-adv-item__title">Safe Custody</div>
					<div class="products-adv-item__descr">The issuer stores the Bitcoin with BitGo Trust Company, a&nbsp;secure, regulated custodian, purpose built for holding digital assets. Strict KYC and AML standards ensure that the provenance of&nbsp;all cryptocurrency in&nbsp;custody has been vetted.</div>
				</div>
			</div>
			<div class="products-block products-facts">
				<div class="products-block__title products-facts__title">Key Facts</div>
				<div class="products-facts-list">
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Inception Date</div>
						<div class="products-facts-list-item__part">Ticker</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Asset Class</div>
						<div class="products-facts-list-item__part">Cryptocurrency</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Base Currency</div>
						<div class="products-facts-list-item__part">USD</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">TER</div>
						<div class="products-facts-list-item__part">200 bps</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Domicile</div>
						<div class="products-facts-list-item__part">Germany</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Replication Method</div>
						<div class="products-facts-list-item__part">Physically Allocated Bitcoin</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Registered for Sale</div>
						<div class="products-facts-list-item__part">UK, IT, DE, AT</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">UK Fund Reporting Status</div>
						<div class="products-facts-list-item__part">Seeking</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">UCITS Eligible</div>
						<div class="products-facts-list-item__part">TBC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">UCITS Compliant</div>
						<div class="products-facts-list-item__part">No</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">SIPP Eligible</div>
						<div class="products-facts-list-item__part">TBC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">ISA Eligible</div>
						<div class="products-facts-list-item__part">TBC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Legal Form</div>
						<div class="products-facts-list-item__part">Debt Security</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Legal Structure</div>
						<div class="products-facts-list-item__part">ETC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Issuer</div>
						<div class="products-facts-list-item__part">ETC Issuance GmbH</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Trustee</div>
						<div class="products-facts-list-item__part">Apex Corporate Trust Services (UK) Limited</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Custodian</div>
						<div class="products-facts-list-item__part">BitGo Trust Company</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>