<div class="promo-numbers">
	<div class="promo-numbers__item">
		<div class="promo-numbers__item-number">
			30 000 +
		</div>
		<div class="promo-numbers__item-descr">
			clients
		</div>
	</div>

	<div class="promo-numbers__item">
		<div class="promo-numbers__item-number">
			240
		</div>
		<div class="promo-numbers__item-descr">
			employees
		</div>
	</div>

	<div class="promo-numbers__item">
		<div class="promo-numbers__item-number">
			6 offices
		</div>
		<div class="promo-numbers__item-descr">
			in Europe & Asia
		</div>
	</div>
</div>