<section class="tech-services-wr">
	<div class="container">
		<div class="tech-services">
			<div class="g-section-title g-section-title--tech">Products & services</div>
			<div class="tech-services__content">
				<div class="tech-services-hand">
					<img src="./img/tech-services-phpne.png">
				</div>
				<div class="tech-services-descr">
					<div class="tech-services-descr__p">
						<div class="tech-services-descr__p-title">DMA to world exchanges</div>
					</div>
					<div class="tech-services-descr__p">
						<div class="tech-services-descr__p-title">Financial products</div>
						<div class="tech-services-descr__p-text">Structured products and notes &middot; ETFs &middot; Funds &middot; <br>Model Portfolios &middot; Personal financial planner</div>
					</div>
					<div class="tech-services-descr__p">
						<div class="tech-services-descr__p-title">Advisory services</div>
						<div class="tech-services-descr__p-text">Copytrading &middot; Auto invest tools &middot; TipRanks &middot; Robo advising</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>