<section class="tech-labels">
	<div class="container">
		<div class="g-section-title g-section-title--line g-section-title--line-red">Available White Label interfaces</div>
		<div class="tech-labels__content">
			<div class="tech-labels-item">
				<div class="tech-labels-item__icon">
					<img src="./img/chrome-logo.svg">
				</div>
				<div class="tech-labels-item__title">
					Web
				</div>
			</div>
			<div class="tech-labels-item">
				<div class="tech-labels-item__icon">
					<img src="./img/android-logo.svg">
				</div>
				<div class="tech-labels-item__title">
					Android
				</div>
			</div>
			<div class="tech-labels-item">
				<div class="tech-labels-item__icon">
					<img src="./img/ios-logo.svg">
				</div>
				<div class="tech-labels-item__title">
					iOS
				</div>
			</div>
		</div>
		<div class="tech-labels-cycles">
			<div class="g-section-title g-section-title--line g-section-title--line-red">full cycle Fintech ecosystem</div>
			<picture class="tech-labels-cycles__table">
				<source srcset="./img/tech-cycle_mob.png" media="(max-width: 700px)">
				<source srcset="./img/tech-cycle_tablet.png" media="(max-width: 1024px)">
				<source srcset="./img/tech-cycle_desk.png">
				<img srcset="./img/tech-cycle_desk.png">
			</picture>
		</div>
	</div>
</section>