{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'error-message' %}

{% set wrapperFlex = true %}

{% block page %}
	<h1 class="g-page-title">Page not found</h1>

	<div class="g-page-subtitle">Page deleted or never existed. Please go to the main page or use the menu</div>

	<a href="#" class="g-btn-tr">Go to Main Page -></a>
{% endblock %}