{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'private' %}
{% set callbackBTCE = true %}
{% set btcePopup = true %}
{% set stickyContainer = true %}

{% block page %}
	{% include "./blocks/priviteClientsBanner.twig" with {'title': 'BTCE', 'bgPrefix': 'btce', 'titleModifier': 'private-clients-banner__title--white'} %}
	<div class="container">
		<div class="private__left">
			<h2 class="g-page-subtitle">
				BTCetc Bitcoin Exchange Traded Crypto (Ticker: BTCE) is an exchange traded cryptocurrency (ETC) that tracks the price of Bitcoin
			</h2>

			<div class="g-typography">
				<p>
					The ETC is 100% physically backed by Bitcoin and trades on Deutsche Börse ́s XETRA. It is the world’s first centrally cleared Bitcoin ETC, providing investors with one of the safest and most liquid ways to gain exposure to Bitcoin. Each unit of BTCE gives the holder a claim on a predefined amount of Bitcoin. BTCE is issued by ETC Group and marketed and distributed by ITI Digital. The value of your investment may go down as well as up and past performance is no indication of future performance. Your capital is at risk.
				</p>
			</div>
		</div>

		<div class="private__right private__right--inst">
			<div class="sticky-card sticky-card--btce _stickyDesktop" data-margin-top="150">
				<div class="sticky-card__section">
					<div class="sticky-card__links">
						<div class="sticky-card__contact-title">Useful Resources</div>
						<ul>
							<li>
								<a href="#" class="g-link">
									Prospectus ->
								</a>
							</li>

							<li>
								<a href="#" class="g-link">
									2-pager ->
								</a>
							</li>

							<li>
								<a href="#" class="g-link">
									BTCE points <br> of Difference Authorised <br> Participants ->
								</a>
							</li>
						</ul>

						<ul>
							<li>
								<a href="#" class="g-link">
									Primer ->
								</a>
							</li>

							<li>
								<a href="#" class="g-link">
									FAQ ->
								</a>
							</li>
						</ul>
					</div>

				</div>

				<div class="sticky-card__section">
					<div class="sticky-card__contact">
						<div class="sticky-card__contact-title">Contact phone</div>
						<a href="tel:+4402038898333" class="g-link">
							+44 (0) 20 3889 8333
						</a>
					</div>

					<div class="sticky-card__contact">
						<div class="sticky-card__contact-title">General requests and information</div>
						<a href="#" class="g-link">
							info@itidigital.io
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="private-section">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/btce-section-bg1.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Product Advantages
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<h3 class="g-title-semi">
				Asset Class Coverage
			</h3>

			<div class="g-typography">
				<p>
					Investing in BTCE is as simple as buying shares through your broker or bank. Unlike investing directly in Bitcoin, there is no need to engage with the technical challenges of setting up a cryptocurrency wallet to store Bitcoin. Your units of BTCE are safely held with your broker or bank
				</p>
			</div>

			<h3 class="g-title-semi">
				Invest in Bitcoin on a regulated exchange
			</h3>

			<div class="g-typography">
				<p>
					BTCE is traded on XETRA, one of the largest exchanges in Europe.Investors can trade with confidence knowing that all market participants are strictly vetted and carefully monitored to prevent market abuse unlike cryptocurrency exchanges, many of which are unregulated. The issuer has partnered with world-class liquidity providers to ensure ample on exchange liquidity and tight spreads
				</p>
			</div>

			<h3 class="g-title-semi">
				Safe Custody
			</h3>

			<div class="g-typography">
				<p>
					The issuer stores the Bitcoin with BitGo Trust Company, a secure, regulated custodian, purpose built for holding digital assets. Strict KYC and AML standards ensure that the provenance of all cryptocurrency in custody has been vetted.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/btce-section-bg1.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Key Facts
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="products-block products-facts">
				<div class="products-facts-list">
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Inception Date</div>
						<div class="products-facts-list-item__part">Ticker</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Asset Class</div>
						<div class="products-facts-list-item__part">Cryptocurrency</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Base Currency</div>
						<div class="products-facts-list-item__part">USD</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">TER</div>
						<div class="products-facts-list-item__part">200 bps</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Domicile</div>
						<div class="products-facts-list-item__part">Germany</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Replication Method</div>
						<div class="products-facts-list-item__part">Physically Allocated Bitcoin</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Registered for Sale</div>
						<div class="products-facts-list-item__part">UK, IT, DE, AT</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">UK Fund Reporting Status</div>
						<div class="products-facts-list-item__part">Seeking</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">UCITS Eligible</div>
						<div class="products-facts-list-item__part">TBC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">UCITS Compliant</div>
						<div class="products-facts-list-item__part">No</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">SIPP Eligible</div>
						<div class="products-facts-list-item__part">TBC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">ISA Eligible</div>
						<div class="products-facts-list-item__part">TBC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Legal Form</div>
						<div class="products-facts-list-item__part">Debt Security</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Legal Structure</div>
						<div class="products-facts-list-item__part">ETC</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Issuer</div>
						<div class="products-facts-list-item__part">ETC Issuance GmbH</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Trustee</div>
						<div class="products-facts-list-item__part">Apex Corporate Trust Services (UK) Limited</div>
					</div>
					<div class="products-facts-list-item">
						<div class="products-facts-list-item__part">Custodian</div>
						<div class="products-facts-list-item__part">BitGo Trust Company</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block footer %}
	<footer class="footer footer--short footer--disclaimer">
		<div class="footer-disclaimer">
			<div class="footer-disclaimer__left">
				<div class="g-section-title">
					Disclaimer
				</div>

				<div class="g-typography">
					<p>
						Trading financial markets on margin carries a high level of risk, and may not be suitable as losses can exceed deposits. You should be aware and fully understand all risks associated with financial markets and trading. Prior to trading any products offered by ITI Capital Limited, you should carefully consider your financial situation and your level of experience and understanding. ITI Capital Limited assumes no liability for errors, inaccuracies or omissions and does not warrant the accuracy, completeness of information, text, graphics, links or other items contained within these materials. You should read and understand the Terms and Conditions on the ITI Capital Limited website prior to taking further action.
					</p>

					<p>
						ITI Capital Limited is a registered company in England and Wales (Registration No. 02926252), authorised and regulated in the United Kingdom by the Financial Conduct Authority (Registration No. 171487) and is a member of the London Stock Exchange.
					</p>

					<p>
						The registered address of ITI Capital Limited is Level 33 Tower 42, 25 Old Broad Street, London EC2N 1HQ, United Kingdom.
					</p>
				</div>
			</div>
			<div class="footer-disclaimer__right">
				<div class="g-section-title">
					INSTITUTIONAL LEGAL NOTICES
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/Best-Execution-Policy.pdf" class="g-link">Best execution policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Conflicts-of-Interest.pdf" class="g-link">Conflicts of interest policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Privacy-policy_1.pdf" class="g-link">Privacy policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Risk-Warnings-and-Further-Disclosure-October-2018.pdf" class="g-link">Risk disclosure notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Professonal-Nov-2018.pdf" class="g-link">Terms and conditions professional</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Retail-Client-October-2018.pdf" class="g-link">Terms and conditions retail</a>
					</li>
				</ul>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Client categorisation notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Counterparty risk policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/rate-card/" class="g-link">Rate card</a>
					</li>

					<li>
						<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Complaints-Procedure.pdf" class="g-link">Complaints procedure</a>
					</li>
				</ul>
			</div>

			<div class="footer__copyright footer__copyright--left">
				© iticapital.com, 1994—2020
			</div>
		</div>
	</footer>
{% endblock %}