{# news-list.twig #}
{% extends "layouts/short-footer-layout.twig" %}
{% block page %}
<div class="news-layout-header news-layout-header--career">
	<div class="news-layout-header__inner">
		<div class="news-layout-header__text">
			<h1 class="news-layout-header__title">
				Sr Manager — Employee Relations
			</h1>
			<div class="news-layout-header__date">ITI Capital Private Clients (UK) · 02.03.2020</div>
		</div>
	</div>

</div>
<div class="private">
	<div class="container">
		<div class="private__left">

			<div class="career-descr">
				<div class="career-descr__item">
					<div class="career-descr__item-text">
						Type:
					</div>

					<div class="career-descr__item-text">
						Permanent
					</div>
				</div>

				<div class="career-descr__item">
					<div class="career-descr__item-text">
						Start Date:
					</div>

					<div class="career-descr__item-text">
						April 2020
					</div>
				</div>
			</div>
			<h2 class="g-page-subtitle">
				We are looking for a Senior Employee Relations Manager with deep experience influencing and impacting dynamic businesses through effective management (both proactive and reactive) of a wide range of employee relations and issues.
			</h2>

			<div class="g-typography g-typography--limited">
				<p>
					This person will be accountable for providing regional support for LATAM and the US, working with employees across organizations at Microsoft, building trusted relationships quickly, and leading with warmth, empathy, compassion, and creativity to think inside of and outside of the box to drive the right solutions.
				</p>

				<h3 class="g-title-semi">
					Responsibilities
				</h3>

				<p>
					Employee Relations - You revolves issues with the highest complexity, visibility, and risk and address misconducts and other serious employee behaviors in partnership with leadership, peers in Human Resources, and the Legal profession.
				</p>

				<ul class="g-dash-list">
					<li>
						Lead the development and implementation of policies and programs including employee engagement, counseling, investigative process of employee complaints, conflict resolution, compliance and management of escalated and sensitive work-related matters.
					</li>

					<li>
						Work with stakeholders to assess local and regional ER needs, create solutions and connection with local/regional HR and Legal teams to create and drive change management plans and scale solutions across the geography
					</li>
				</ul>

				<h3 class="g-title-semi">
					Responsibilities
				</h3>

				<p>
					Knowledge, Skills and Abilities
				</p>

				<ul class="g-dash-list">
					<li>
						Change Management - The ability to define and implement procedures and/or technologies to deal with changes in the environment. This may include adapting to change, controlling change, and/or affecting change. Engaging critical stakeholders in collaborative solutions that will scale across the region.
					</li>

					<li>
						Consulting - The skill to influence others, develop and maintain cross organizational working relationships, and deliver results and/or expertise for a client in a professional manner. Partner with Legal department and HR leaders and stakeholders across the region to build out ER COE across the region.
					</li>

					<li>
						Human Resources Programs - Knowledge of the development and implementation process of a Human Resources program. This may include the ability to plan, design, implement, and/or ensure compliance for Human Resources programs used throughout the company.
					</li>

					<li>
						Employee Relations - Knowledge of Employee Relations that can apply depth of experience to creation of systems and processes for handling of employe concerns including investigations, employee communications, benefits, policies and procedures, morale, employee participation in management decisions, conflict and grievance resolution, trade unions, etc. Must be able to manage the most complex employee relations scenarios within the context of corporate culture, regulations and statutory requirements related to all employment related concdrns. The ability to navigate conflict by listening to their objectives, acting as the company's representative to effectively communicate the company's objective, and seeking common ground and collaborative solutions.
					</li>

					<li>
						Human Resources Analytics Tools - The ability to use and understand business intelligence and data analysis from various HR tools for the purpose of evaluating, interpreting, and organizing data related to human resources. draw valid conclusions from data presented for the purpose of business needs. This includes the ability to identify significant trends, relationships, and themes relevant to the organization.
					</li>

					<li>
						Employment Law - Knowledge of federal, state, and local laws and regulations protecting employees from discriminatory treatment, unfair labor practices, unsafe work conditions, etc. This includes the knowledge of applicable planning requirements.
					</li>

					<li>
						Corporate Culture Enhancement - The ability to correlate the organizational culture to new initiatives in order to keep the culture continually evolving with modern concepts. This includes the ability to communicate corporate culture broadly to educate and engage associates, and understand the culture to complement business strategy. This also includes the ability to use culture to guide decision-making and to ensure the company values and culture are visible and recognizable to internal and external stakeholders.
					</li>
				</ul>

				<p>
					Microsoft is an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to age, ancestry, color, family or medical care leave, gender identity or expression, genetic information, marital status, medical condition, national origin, physical or mental disability, political affiliation, protected veteran status, race, religion, sex (including pregnancy), sexual orientation, or any other characteristic protected by applicable laws, regulations and ordinances.  We also consider qualified applicants regardless of criminal histories, consistent with legal requirements. If you need assistance and/or a reasonable accommodation due to a disability during the application or the recruiting process, please send a request via the Accommodation request form.
				</p>

				<p>
					Benefits/perks listed below may vary depending on the nature of your employment with Microsoft and the country where you work.
				</p>
			</div>

		</div>
		<div class="private__right">
			<div class="sticky-card sticky-card--career">
				<div class="sticky-card__text">
					Send your Resumee to Our HR Department
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Apply Now ->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}