{# news-list.twig #}
{% extends "layouts/short-footer-layout.twig" %}
{% block page %}
<div class="news-layout-header news-layout-header--career">
	<div class="news-layout-header__inner">
		<div class="news-layout-header__text">
			<h1 class="news-layout-header__title">
				Advisory associate
			</h1>
			<div class="news-layout-header__date">ITI Capital Private Clients (UK) · 02.03.2020</div>
		</div>
	</div>

</div>
<div class="private">
	<div class="container">
		<div class="private__left">

			<div class="career-descr">
				<div class="career-descr__item">
					<div class="career-descr__item-text">
						Type:
					</div>

					<div class="career-descr__item-text">
						Permanent
					</div>
				</div>

				<div class="career-descr__item">
					<div class="career-descr__item-text">
						Start Date:
					</div>

					<div class="career-descr__item-text">
						April 2020
					</div>
				</div>
			</div>

			<div class="g-typography g-typography--career">
				<h3 class="g-title-semi">
					Duties and responsibilities
				</h3>

				<ul class="g-dash-list">
					<li>
						Servicing new and existing clients via video chat and by phone
					</li>

					<li>
						Participate in Investment Committee.
					</li>

					<li>
						Communicate with paraplanners and administrators.
					</li>

					<li>
						Provide clients with investment ideas produced by the Investment Committee
					</li>
				</ul>

				<h3 class="g-title-semi">
					Qualifications & Skills
				</h3>

				<ul class="g-dash-list">
					<li>
						Minimum QCF Level 4 recognised by FCA to be approved as a retail financial adviser
					</li>

					<li>
						Minimum of 2 years’ experience as a Financial Adviser.
					</li>

					<li>
						A proven track record through successful past performance in advisory roles.
					</li>

					<li>
						The skill of remote communication with clients via telephone, Skype, orsimilar tools.
					</li>

					<li>
						Excellent technical/product knowledge.
					</li>

					<li>
						Ability to communicate effectively with other team members, other advisers, paraplanners, and administrators.
					</li>
				</ul>
			</div>

		</div>
		<div class="private__right">
			<div class="sticky-card sticky-card--career">
				<div class="sticky-card__text">
					Send your Resumee to Our HR Department
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Apply Now ->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}