{# news-list.twig #}
{% extends "layouts/short-footer-layout.twig" %}
{% block page %}
<div class="news-layout-header news-layout-header--career">
	<div class="news-layout-header__inner">
		<div class="news-layout-header__text">
			<h1 class="news-layout-header__title">
				Customer Service associate
			</h1>
			<div class="news-layout-header__date">ITI Capital Private Clients (UK) · 02.03.2020</div>
		</div>
	</div>

</div>
<div class="private">
	<div class="container">
		<div class="private__left">

			<div class="career-descr">
				<div class="career-descr__item">
					<div class="career-descr__item-text">
						Type:
					</div>

					<div class="career-descr__item-text">
						Permanent
					</div>
				</div>

				<div class="career-descr__item">
					<div class="career-descr__item-text">
						Start Date:
					</div>

					<div class="career-descr__item-text">
						April 2020
					</div>
				</div>
			</div>

			<div class="g-typography g-typography--career">
				<h3 class="g-title-semi">
					Duties and responsibilities
				</h3>

				<ul class="g-dash-list">
					<li>
						Driving the customer journey by responding to customer enquiries via telephone and email in a friendly, approachable tone
					</li>

					<li>
						Assist customers with general customer service queries related to the trading platform; account; account opening; depositing and withdrawing money; our products and services; transferring to ITI and what differentiates ITI
					</li>

					<li>
						Investigating and resolving queries, seeing through to completion.
					</li>

					<li>
						Liaising with relevant teams on the resolution of queries.
					</li>

					<li>
						Build relationships and trust with customers
					</li>

					<li>
						Log all customer interactions, gathering feedback in order to improve services
					</li>

					<li>
						Maintain product and industry knowledge in order to support customer queries
					</li>

					<li>
						Liaising with the Account Management Team and other key members of staff on improving business processes and client liaison.
					</li>

					<li>
						Coordinating with the rest of the business to provide positive customers outcomes
					</li>
				</ul>

				<h3 class="g-title-semi">
					Qualifications & Skills
				</h3>

				<ul class="g-dash-list">
					<li>
						Previous experience in the financial services industry, especially at a brokerage is a distinct advantage.
					</li>

					<li>
						Excellent customer relationship skills essential.
					</li>

					<li>
						Proven good computer skills essential, including knowledge of the Microsoft Office suite.
					</li>

					<li>
						Motivated individual with good time management and prioritization skills.
					</li>

					<li>
						Ability to work in a very busy environment.
					</li>

					<li>
						Excellent attention to detail.
					</li>

					<li>
						The ability to empathize with our target market and demonstratable understanding of their mindsets and needs
					</li>

					<li>
						You should have a professional and approachable telephone manner, be proactive and hardworking with excellent organizational skills
					</li>

					<li>
						Good written and verbal communication skills
					</li>

					<li>
						The ability to remain calm under pressure
					</li>
				</ul>
			</div>

		</div>
		<div class="private__right">
			<div class="sticky-card sticky-card--career">
				<div class="sticky-card__text">
					Send your Resumee to Our HR Department
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Apply Now ->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}