{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'private' %}
{% set instModify = 'header-dropdown--short' %}
{% set callback = false %}
{% set stickyContainer = true %}
{% set btcePopup = true %}

{% block page %}
		<div class="digital-assets__title">
			<div class="container">
				<h1>Digital Assets University</h1>
			</div>
			<div class="sticky-card sticky-card--digital-assets">
				<a href="javascript:void(0);">What are Digital Assets?</a>
				<a href="javascript:void(0);">Players in the Digital Assets Ecosystem</a>
				<a href="javascript:void(0);">Cryptocurrency Concepts</a>
				<a href="javascript:void(0);">Encryption (Concepts, Types, and Algorithms)</a>
				<a href="javascript:void(0);">Types of Encryption</a>
				<a href="javascript:void(0);">Encryption Algorithms  Network </a>
				<a href="javascript:void(0);">Effects in Cryptocurrency  </a>
				<a href="javascript:void(0);">Quantum Computers & Their Effect on Cryptocurrencies  </a>
				<a href="javascript:void(0);">Further</a>
			</div>
		</div>

	<div class="private-section" id="inst-0">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-1.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					What are Digital Assets?
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				Digital Assets
			</h3>
			<p>
				Digital assets are digital representations of value, made possible by advances in cryptography and distributed ledger technology. These assets can be transferred peer-to-peer without requiring any intermediary involvement.
			</p>
			<p>
				Several other terms, such as cryptocurrencies and crypto assets, are also used in this developing market. There are a plethora of stakeholders involved within the digital assets realm such as miners, traders, entrepreneurs, and even corporations. Although the concert is fairly new, it offers an abundance of uses to users of all social classes.
			</p>
			<h3 class="g-title-semi">
				Cryptocurrency
			</h3>
			<p>
				A cryptocurrency is a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds. Bitcoin is the most widely recognized cryptocurrency, while other, lesser known forms of cryptocurrency are referred to as altcoins.
			</p>
			<p>
				Every cryptocurrency is issued on a blockchain, which is a system in which a record of transactions are maintained across several computers that are linked in a peer-to-peer network. For cryptocurrencies, supply and demand are the main drivers of their worth and the built-in limit to howmuch can exist, just like precious metals, should, in the long-term, prevent mass devaluation and inflation that's caused by central banks printing money that they don't have.
			</p>
			<p>
				Most cryptocurrencies use decentralized control as opposed to centralized digital currency and central banking systems. With decentralized control, each cryptocurrency works through distributed ledger technology, a blockchain, that serves as a public financial transaction database.
			</p>
			<a href="#">
				What is Cryptocurrency?
			</a>
			<h3 class="g-title-semi">
				Blockchain
			</h3>
			<p>
				A Blockchain is a distributed ledger of transactions across thousands of computers at different times and it is the underlying technology that Bitcoin and most other digital assets use to record and validate transactions.
			</p>
			<p>
				Using cryptographic languages, it is secure and transparent, and completely distributed and decentralized in its processing, which creates a decentralized database. For example, the Internet is centralized, which means that the power is under a central authority, making it not very secure and allowing for it to be hacked.
			</p>
			<p>
				The blockchain, on the other hand, is decentralized, which means that the power is moved away from the central authority and makes it impossible to be hacked. Through this, items such as ownerships, authenticities, and transaction histories can be transferred without the involvement of third-parties.
			</p>
			<a href="#">
				Blockchain. Simply Explained
			</a>
			<h3 class="g-title-semi">
				Bitcoin
			</h3>
			<p>
				Bitcoin (₿) is a cryptocurrency invented in 2008 by Satoshi Nakamoto. Bitcoin uses blockchain technology to create a digital asset that is entirely decentralized and managed across a wide network of computers rather than by a single entity.
			</p>
			<p>
				Bitcoin is stored and transferred digitally in a virtual wallet and unlike cash, each bitcoin (lowercase b) has a public transaction history that makes it theoretically impossible to counterfeit.
			</p>
			<p>
				Bitcoin addresses are easily generated using the peer-to-peer electronic cash system, which enables online payments to be sent and received. When a bitcoins transaction is initiated, a verification takes place to confirm that the transaction is legitimate and no double spending occurred.
			</p>
			<p>
				This verification process is performed by Bitcoin Miners, who confirm the legitimacy of every transaction, which yields them a reward. People often purchase bitcoins due to desired anonymity, distrustment of banks, and the preference of transfering or storing their money in Bitcoin’s blockchain system. As time progresses, more and more retailers are starting to accept cryptocurrency.
			</p>
			<a href="#">
				What is Bitcoin? Bitcoin Simply Explained
			</a>
			<h3 class="g-title-semi">
				Mining
			</h3>
			<p>
				Mining is a process in which transactions for various forms of cryptocurrencies are verified and added to the blockchain’s digital ledger. Miners are people who use special software to solve math problems on the cryptocurrencies’ network.
			</p>
			<p>
				The mining software that is run works by grouping recent transactions into blocks, which are only accepted by the rest of the network if the block is hashed correctly, which requires the computer to find correct numerical values; a time consuming and computer intensive process.
			</p>
			<p>
				If the block is hashed correctly, the miner that successfully processed the block adds it to the blockchain and the system generates a new coin that goes into the miners digital wallet or as a reward.
			</p>
			<p>
				Since miners are required to approve Bitcoin transactions, this provides a smart way to issue the currency and also creates an incentive for more people to mine because more miners means a more secure network.
			</p>
			<a href="#">
				What is Bitcoin Mining?
			</a>
			<h3 class="g-title-semi">
				Hash Function and Hashing
			</h3>
			<p>
				Hashing is the process of converting text of any length into a fixed-sized string of text using a mathematical function.
			</p>
			<p>
				In simpler terms, a message (input) is put through a hash function that gives the output called the hash value. The message is converted into an array of numbers and letters through an algorithm and even a change of one letter creates a significantly different hash value.
			</p>
			<p>
				Hash functions are considered to be a type of one-way encryption because keys are not shared and the information required to reverse the encryption does not exist in the output.
			</p>
			<a href="#">
				What is Hashing? Hash Functions Explained Simply
			</a>
			<h3 class="g-title-semi">
				Nonce
			</h3>
			<p>
				A nonce, abbreviation for "number only used once", is a number added to a hashed block in a blockchain that, when rehashed, meets the difficulty level restrictions. The nonce is the number that blockchain miners are solving for. When the solution is found, the blockchain miners are offered cryptocurrency in exchange.
			</p>
			<h3 class="g-title-semi">
				Double Spending
			</h3>
			<p>
				Double-spending is the risk that a digital currency can be spent more than once.
			</p>
			<a href="#">
				What is Double Spending
			</a>
			<h3 class="g-title-semi">
				Smart Contract
			</h3>
			<p>
				A smart contract is a computer program or a transaction protocol which is intended to automatically execute, control, or document legally relevant events with the terms between buyer and seller being directly written into lines of code.
			</p>
			<p>
				The objectives of smart contracts are to satisfy common contractual conditions, minimize malicious and fraudulent actions, and eliminate the need for trusted intermediaries. It can be built on top of these blockchains and in fact, is actually stored and executed inside the blockchain.
			</p>
			<p>
				Smart contacts can help you exchange money, property, coins, or anything of value in a transparent, in a conflict-free way all while avoiding the services of a middleman. This assures the consumer will receive the item(s) they paid for or get their money back.
			</p>
			<a href="#">
				Smart Contracts. Simply Explained
			</a>
			<h3 class="g-title-semi">
				Fork (Hard & Soft)
			</h3>
			<p>
				A fork is a condition where the state of the blockchain diverges in two different chains where one chain operates by different rules and the other. This can occur due to a discovery of a bug, upgrading features of the blockchain, and changes to the node software.
			</p>
			<p>
				Soft forks are software updates to a digital asset blockchain, which do not result in a physical split of the blockchain into two digital assets.
			</p>
			<p>
				Hard forks are rule changes that force the creation of a new digital asset, such as Bitcoin and Bitcoin Cash. In a hard fork, the data on the new chain is a duplicate of the old chain.
			</p>
			<p>
				This means if you owned one Bitcoin before the hard fork, you now still own that one Bitcoin and one unit of currency on the new chain, Bitcoin Cash, after the hard fork.
			</p>
			<a href="#">
				What are Blockchain Forks?
			</a>
			<h3 class="g-title-semi">
				Altcoins
			</h3>
			<p>
				Altcoins, an abbreviation for Alternative Coins, is any cryptocurrency besides Bitcoin. Some examples of Altcoins are Ethereum, Litecoin, XRP, etc. Altcoins are created to build on Bitcoin’s weaknesses (ex. Litecoin processes 56 transactions per second, while Bitcoin processes 7 transactions per second) or establish new uses for the blockchain.
			</p>
			<p>
				ICO also known as Initial Coin Offering (ICO) is the cryptocurrency industry's equivalent to an Initial Public Offering (IPO). ICOs act as a way to raise funds, where a company looks to raise money to create a new coin, app, or service.
			</p>
			<p>
				ICO’s allow investors to put money in early-stage companies and they allow the founders of those companies to crowdsource directly from their users. People who believe in the project can invest in it early and profit over time; once increased demand drives the price up. The money collected from ICOs is then typically used to fund project development.
			</p>
			<a href="#">
				Altcoins and ICOs Explained in Plain English
			</a>
		</div>
	</div>

	<div class="private-section" id="inst-2">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-2.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Players in the Digital<br>Assets Ecosystem
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				Ethereum
			</h3>
			<p>
				Ethereum is an open software platform, which was constructed in 2015 by Vitalik Buterin, using the blockchain platform that allows consumers and companies to build decentralized applications.
			</p>
			<p>
				On Ethereum’s blockchain, “ether” is the cryptocurrency that supports the network, which is similar to Bitcoin, but it can also be used as payment for code execution.
			</p>
			<p>
				When the user sends ether, they are able to interact with these self-operating computer programs, which will run the code without errors. Ethereum allows developers to build thousands of different applications that go beyond anything built on a blockchain before.
			</p>
			<a href="#">
				What is Ethereum? Everything you need to know!
			</a>
			<h3 class="g-title-semi">
				DAO
			</h3>
			<p>
				A DAO (Decentralized Autonomous Organization) is an organization that runs on a blockchain using smart contracts and all the records and program rules of these organizations are kept there. The main idea was that all participants through voting could decide where the capital acquired at the ICO stage will be invested, which put more control in the investors' hands.
			</p>
			<p>
				The concept received a lot of interest, raising over $168 million. The DAO software was hosted on the Ethereum blockchain, which meant that everyone, including hackers, could identify and exploit all possible loopholes in the system. Issues were discovered, but rather than addressing them, they were ignored.
			</p>
			<p>
				Three weeks after the DAO token began trading on exchanges, an attack took place which took advantage of the vulnerabilities of the voting protocols, which resulted in over $50 million being stolen. Eventually, a hard fork was established and the DAO was taken off of all exchanges.
			</p>
			<a href="#">
				DAO: The Dapp That Nearly Broke Ethereum!
			</a>
		</div>
	</div>

	<div class="private-section" id="inst-3">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-3.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Cryptocurrency Concepts
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				Byzantine Generals’ Problem
			</h3>
			<p>
				The Byzantine Generals’ Problem is a logical dilemma that displays how a group of generals may have communication problems when trying to agree on their next move.
			</p>
			<p>
				The dilemma presumes that each general has his own army and that each group is situated in different locations around the city. The generals need to agree on either attacking or retreating. It does not matter whether they attack or retreat, as long as all generals reach consensus, they will be successful; but if a consensus isn’t reached, then they will fail.
			</p>
			<p>
				If applied to blockchains, each general represents a network note that needs to be in agreement on the current state of the system, which means that the majority of the participants in the network have to agree and execute the same action in order to avoid failures.
			</p>
			<a href="#">
				Byzantine Generals Problem
			</a>
			<h3 class="g-title-semi">
				Byzantine Fault Tolerance
			</h3>
			<p>
				Builds off the “Byzantine Generals’ Problem” concept. It Is able to continue operating even if some of the nodes fail to communicate or act maliciously, as long as at least ⅔ of the network reaches consensus. Consensus protocols such as Proof-of-Work and Proof-of-Stake are Byzantine Fault Tolerant and are thus able to resist up to one-third of the nodes disagreeing.
			</p>
			<a href="#">
				Byzantine Fault Tolerance Explained
			</a>
			<h3 class="g-title-semi">
				The Scalability Trilemma
			</h3>
			<p>
				A trilemma is a difficult choice from three options from which only two can be selected. The Scalability Trilemma is a term coined by Vitalik Buterin, the founder of Ethereum, that refers to three components: decentralization, security, and scalability.
			</p>
			<p>
				Decentralization refers to the degree of diversification in ownership. Security refers to the level of defensibility a blockchain has against attacks. Scalability dictates the eventual network capacity and determines the upper limit on how large a network can grow.
			</p>
			<p>
				Yet, issues of infinite scalability arise due to tradeoffs. Scalability and decentralization can co-exist, but security risks become sizable on massive networks. Additionally, quickly growing networks will require a fast consensus mechanism, in order to validate more transactions while delivering the same speed to individual users.
			</p>
			<p>
				This can only occur in Proof of Stake or Delegated Proof of Stake, which compromises decentralization. If the protocol is Proof of Work, which would compromise scalability. If the hash puzzles or mining algorithms would become easier, in order to have a commensurately fast validation process, this would compromise security.
			</p>
			<a href="#">
				The Blockchain Trilemma
			</a>
		</div>
	</div>

	<div class="private-section" id="inst-4">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-4.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Encryption (Concepts,<br>Types, and Algorithms)
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				Basic Concepts
			</h3>
			<p>
				Plaintext is information or data that has not been encrypted yet.
			</p>
			<p>
				Ciphertext is information or data that has been encrypted using an encryption algorithm.
			</p>
			<p>
				Encryption Algorithm (Cipher) is the formula used to encrypt/decrypt messages.
			</p>
			<p>
				Key is a number only known by the sender and receiver which allows them to encrypt/decrypt the message
			</p>
			<p>
				Encryption is the process of changing the message to hide the original text and is performed by the message sender. The primary purpose of encryption is to protect the confidentiality of digital data transferred over the internet or stored on the computer. When an encrypted message is intercepted by an unauthorized user, the intruder has to guess which cipher the sender used to encrypt the message, as well as what keys were used as variables. The time and difficulty of guessing this information is what makes encryption such a valuable security tool. 
			</p>
			<p>
				Decryption is the process of unscrambling that message to make it readable and is performed by the message receiver.
			</p>
			<p>
				Security Exposures occur when an unauthorized user has access to the plaintext encryption key and the cipher text.
			</p>
			<p>
				Data Loss occurs if all copies of the decryption key are lost, which makes the associated ciphertext undecryptable.
			</p>
			<h3 class="g-title-semi">
				Symmetric Encryption
			</h3>
			<p>
				Symmetric Encryption is a method of encryption where only one key, which is called a secret key, is used to encrypt information and decrypt the information. This is the fastest way to exchange information, yet if an unauthorized user intercepts the key, they are able to see the information.
			</p>
			<h3 class="g-title-semi">
				Asymmetric Encryption
			</h3>
			<p>
				Asymmetric Encryption is a method of encryption which uses two keys to encrypt a plaintext. A public key is made available to anyone who might want to send you something, while the private key is kept a secret so only you know what it is. A message that is encrypted using a public key can only be decrypted using the private key.
			</p>
			<p>
				Simultaneously, a message encrypted using a private key can be decrypted using a public key. The public key can be given out to anybody since it cannot decrypt the information sent to the owner of the private key.
			</p>
			<a href="#">
				Symmetric vs. Asymmetric Encryption
			</a>
			<h3 class="g-title-semi">
				SHA-2 (SHA-256 & SHA-512)
			</h3>
			<p>
				SHA, which stands for Secure Hash Algorithm, is a one-way hash algorithm used to create digital signatures.
			</p>
			<p>
				SHA-1 was the original hash function, but was later considered outdated with the release of SHA-2. SHA-2 consists of six hash functions where SHA-256 and SHA-512 are the most popular. SHA-256 takes a plaintext and encrypts it into a sequence of numbers and letters.
			</p>
			<p>
				Even if one character in the message is added or deleted, the entire hash value will be completely different. Yet, a certain plaintext will always yield the exact same hash value. The only difference between SHA-256 and SHA-512 is that SHA-512’s hash value is double the length (SHA-256 is 32 bit & SHA-512 is 64 bit).
			</p>
			<a href="#">
				Intro to Hashing. SHA1, SHA2 and SHA256
			</a>
			<h3 class="g-title-semi">
				Proof-of-Work (PoW)
			</h3>
			<p>
				Proof-of-Work (PoW) is a consensus algorithm that is used to validate transactions and broadcast new blocks to the blockchain. Miners on a network will compete against each other in solving complex computational puzzles.
			</p>
			<p>
				These puzzles are difficult to solve but easy to verify the correct solution. Once a miner has found the solution to the puzzle, they will be able to broadcast the block to the network where all the other miners will then verify that the solution is correct.
			</p>
			<h3 class="g-title-semi">
				Proof of Stake (PoS)
			</h3>
			<p>
				Proof of Stake (PoS) is a consensus algorithm by which a cryptocurrency blockchain network aims to achieve distributed consensus. Unlike PoW, the creator of the next block is chosen through various combinations of random selections and wealth or age of investment.
			</p>
			<p>
				Additionally, users in PoS are called forgers instead of miners. Users who want to participate in the forging process, are required to lock a certain amount of coins into the network as their stake. This is done to penalize anyone trying to harm the network by taking the money staked.
			</p>
			<p>
				Finally, Proof-of-Stake systems usually use transaction fees as a reward, rather than coins.
			</p>
			<a href="#">
				Proof of Work vs. Proof of Stake: A Simple Guide
			</a>
			<h3 class="g-title-semi">
				Peer-to-Peer (P2P)
			</h3>
			<p>
				Peer-to-Peer or P2P network is created when two or more computer systems are connected to each other through the internet without using a central server. P2P is used to share various files between users without having to provide the central server with those files or your information.
			</p>
			<a href="#">
				What Is Peer-To-Peer (P2P)?
			</a>
		</div>
	</div>

	<div class="private-section" id="inst-5">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-5.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Types of Encryption
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				End-to-end encryption (E2EE)
			</h3>
			<p>
				End-to-end encryption (E2EE) is an asymmetric encryption method of secure communication that prevents hackers and outsiders from accessing data while it's transferred from one end to another.
			</p>
			<p>
				In E2EE, the data is encrypted on the sender's device and only the recipient is able to decrypt it. When the encrypted message passes through the server, it is not able to decipher the message, thus passing it onto the receiver who can decrypt and see the message. Facebook’s WhatsApp is a prime example of E2EE.
			</p>
			<a href="#">
				End to End Encryption (E2EE)
			</a>
			<h3 class="g-title-semi">
				Full Disk Encryption (FDE)
			</h3>
			<p>
				Full Disk Encryption (FDE) is encryption at the hardware level. FDE automatically encrypts data on the hard drive, which cannot be accessed by anyone who doesn't have the key. Even if the hard drive is removed and placed into another machine, without the encryption key, the data will remain inaccessible.
			</p>
			<a href="#">
				What is Full Disk Encryption (FDE)?
			</a>
			<h3 class="g-title-semi">
				HTTPS
			</h3>
			<p>
				HTTPS uses a protocol called Transport Layer Security (TLS) to encrypt communications. This protocol secures communications by using what’s known as an asymmetric public key infrastructure. This allows for information to be sent between two users without being intercepted by outsiders.
			</p>
			<a href="#">
				How HTTPS Works
			</a>
		</div>
	</div>

	<div class="private-section" id="inst-6">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-6.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Encryption Algorithms
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				Caesar’s Cipher (Substitution Cipher)
			</h3>
			<p>
				Caesar’s Cipher (Substitution Cipher) is the first well-known method of encryption, which is an algorithm that substitutes each letter in the original message with a letter a certain number up or down the alphabet. It allows the reader to unlock the secret message without others being able to.
			</p>
			<p>
				Unfortunately, anybody can easily crack the encrypted message by trying every possible key, outdating this method.
			</p>
			<a href="#">
				The Caesar Cipher
			</a>
			<h3 class="g-title-semi">
				DES
			</h3>
			<p>
				DES, which stands for Data Encryption Standard, is an outdated symmetric key method of data encryption. DES works by using the same key to encrypt and decrypt a message, so both the sender and the receiver must know and use the same private key. DES has been superseded by the more secure AES algorithm. DES only had a 56 bit key, which made it quite easy to guess.
			</p>
			<h3 class="g-title-semi">
				AES (Rijndael)
			</h3>
			<p>
				AES (Rijndael), which stands for Advanced Encryption Standard, is a 128bit symmetric block cipher chosen by the U.S. government to protect classified information.
			</p>
			<p>
				Originally called Rijndael, AES was developed in 1997 when the need for a successor algorithm for the Data Encryption Standard (DES) was needed, which was starting to become vulnerable to brute-force attacks. As of 2019, AES remains the most widely used file encryption software for the protection of electronic data throughout the world.
			</p>
			<a href="#">
				AES Explained (Advanced Encryption Standard)
			</a>
			<h3 class="g-title-semi">
				Diffie-Hellman key exchange
			</h3>
			<p>
				Diffie-Hellman key exchange is a method of digital encryption that uses numbers raised to specific powers to produce decryption keys using components that are never directly transmitted.
			</p>
			<p>
				In other terms, information is not being shared during the key exchange, but instead both parties are creating the key together. This makes it very difficult for someone to intercept since certain keys have never been presented to the public.
			</p>
			<a href="#">
				Secret Key Exchange (Diffie-Hellman)
			</a>
			<h3 class="g-title-semi">
				Twofish
			</h3>
			<p>
				Twofish is a symmetric key block cipher with a block size of 128 bits and key sizes up to 256 bits. It was one of the five finalists of the AES contest, but it was not chosen as the standard. Twofish is related to the earlier block cipher Blowfish.
			</p>
			<p>
				Twofish was slightly slower than Rijndael for 128-bit keys, but somewhat faster for 256-bit keys. Although, after Rijndael was chosen as the Advanced Encryption Standard, Twofish has become much slower.
			</p>
		</div>

	</div>

	<div class="private-section" id="inst-7">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-7.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Network Effects<br>in Cryptocurrency
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				Network Effect
			</h3>
			<p>
				The network effect is a phenomenon where a higher number of users improve the value of a good or a service. The Internet is a prime example of a network effect. Initially, there were a few users on the Internet since it offered little value.
			</p>
			<p>
				Overtime, as more users gained access to the Internet, different types of content, information, and services were created, attracting even more users, ultimately driving them to connect and do business with each other. Through this, the Internet experienced an increase in traffic, which increased its value.
			</p>
			<a href="#">
				What Are Network Effects?
			</a>
			<h3 class="g-title-semi">
				Bitcoin’s Network Effect
			</h3>
			<p>
				Bitcoin’s network effect derives from more people considering it a store of value. This incentivizes miners to keep the network secure. Additionally, as more bitcoins are purchased and stored, the remaining bitcoins become more scarce, which ultimately benefits all the users who are already holding bitcoins. As the number of coins diminishes, the remaining coins become more valuable.
			</p>
			<h3 class="g-title-semi">
				Ethereum’s Network Effect
			</h3>
			<p>
				Ethereum’s network effect derives from developers who create applications. Each developed application or software acts as a building block that other developers can build off of. This can lead to higher order services, which will create increased usage, ultimately increasing the demand for ETH.
			</p>
		</div>
	</div>
	<div class="private-section" id="inst-7">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-8.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Quantum Computers & Their Effect<br>on Cryptocurrencies
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--digital-assets">
			<h3 class="g-title-semi">
				What is a Quantum Computer
			</h3>
			<p>
				A quantum computer is a computer which makes use of the quantum states of subatomic particles to store information. Instead of using bits to perform operations, quantum computers use quantum bits or qubits, which can be both zero and one simultaneously. This gives a quantum computer its superior computing power. Although quantum computers are much more powerful than classic computers, they are not going to replace them.
			</p>
			<a href="#">
				Quantum Computers Explained
			</a>
			<h3 class="g-title-semi">
				Quantum Computers’ Negative Implications on Cryptocurrencies
			</h3>
			<p>
				Quantum computers have the ability to break cryptocurrencies one day. Firstly, quantum computers can take the public key and work it back to the private key. If the quantum computer achieves this before a miner confirms the transaction, a double spend could be executed.
			</p>
			<p>
				Another risk is that if quantum computers manage to hack the SHA-256 system, they would be able to find the correct nonce at will and receive all the bitcoin block rewards.
			</p>
			<a href="#">
				Will Quantum Computers BREAK Bitcoin Someday?
			</a>
		</div>
	</div>
	<div class="private-section" id="inst-7">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/digital-bg-9.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Further
				</h2>
			</div>
		</div>

		<div class="private-section-content private-section-content--further">
			<div class="private-section__links">
				<a href="#" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/play.svg" alt="">
						</div>

						<div class="link-card__title">
							How Bitcoin Works &rarr;
						</div>
					</div>
				</a>
				<a href="#" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/play.svg" alt="">
						</div>

						<div class="link-card__title">
							Mathematics Behind Bitcoin & Elliptic Curve Cryptography &rarr;
						</div>
					</div>
				</a>
				<a href="#" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/play.svg" alt="">
						</div>

						<div class="link-card__title">
							What is a StableCoin? &rarr;
						</div>
					</div>
				</a>
				<a href="#" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/play.svg" alt="">
						</div>

						<div class="link-card__title">
							Ethereum Explained &rarr;
						</div>
					</div>
				</a>
				<a href="#" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/play.svg" alt="">
						</div>

						<div class="link-card__title">
							The Mathematics of Quantum Computers &rarr;
						</div>
					</div>
				</a>
			</div>
			<div class="g-title-devider">
				Read MORE
			</div>
			<a href="#">
				Mathematics, Cryptography, Blockchains, and Cryptocurrencies: Myths and Realities &rarr;
			</a>
			<a href="#">
				The Math Behind Bitcoin &rarr;
			</a>
		</div>
	</div>
{% endblock %}


{% block footer %}
	<footer class="footer footer--short footer--disclaimer">
		<div class="footer-disclaimer">
			<div class="footer-disclaimer__left">
				<div class="g-section-title">
					Disclaimer
				</div>

				<div class="g-typography">
					<p>
						Trading financial markets on margin carries a high level of risk, and may not be suitable as losses can exceed deposits. You should be aware and fully understand all risks associated with financial markets and trading. Prior to trading any products offered by ITI Capital Limited, you should carefully consider your financial situation and your level of experience and understanding. ITI Capital Limited assumes no liability for errors, inaccuracies or omissions and does not warrant the accuracy, completeness of information, text, graphics, links or other items contained within these materials. You should read and understand the Terms and Conditions on the ITI Capital Limited website prior to taking further action.
					</p>

					<p>
						ITI Capital Limited is a registered company in England and Wales (Registration No. 02926252), authorised and regulated in the United Kingdom by the Financial Conduct Authority (Registration No. 171487) and is a member of the London Stock Exchange.
					</p>

					<p>
						The registered address of ITI Capital Limited is Level 33 Tower 42, 25 Old Broad Street, London EC2N 1HQ, United Kingdom.
					</p>
				</div>
			</div>
			<div class="footer-disclaimer__right">
				<div class="g-section-title">
					INSTITUTIONAL LEGAL NOTICES
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/Best-Execution-Policy.pdf" class="g-link">Best execution policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Conflicts-of-Interest.pdf" class="g-link">Conflicts of interest policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Privacy-policy_1.pdf" class="g-link">Privacy policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Risk-Warnings-and-Further-Disclosure-October-2018.pdf" class="g-link">Risk disclosure notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Professonal-Nov-2018.pdf" class="g-link">Terms and conditions professional</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Retail-Client-October-2018.pdf" class="g-link">Terms and conditions retail</a>
					</li>
				</ul>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Client categorisation notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Counterparty risk policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/rate-card/" class="g-link">Rate card</a>
					</li>

					<li>
						<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Complaints-Procedure.pdf" class="g-link">Complaints procedure</a>
					</li>
				</ul>
			</div>

			<div class="footer__copyright footer__copyright--left">
				© iticapital.com, 1994—2020
			</div>
		</div>
	</footer>
{% endblock %}