{# news-list.twig #}
{% extends "layouts/news-layout.twig" %}

{% set title = 'Terms & Conditions' %}

{% block page %}

<div class="news-article">
	<div class="disclaimer-links">
		<div class="g-title-devider">
			dealing terms
		</div>

		<ul class="disclaimer-links__list">
			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/10/Terms-of-Business-Retail-Client-October-2018.pdf" class="g-link">Terms & Conditions for Private Clients</a>
			</li>

			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/11/Terms-of-Business-Professonal-Nov-2018.pdf" class="g-link">Terms & Conditions Professional</a>
			</li>

			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_CFD-Dec-2018.pdf" class="g-link">Key information Document (CFD)</a>
			</li>

			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Call-options-Dec-2018.pdf" class="g-link">Key Information Doucment (Call Options)</a>
			</li>

			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Put-options-Dec-2018.pdf" class="g-link">Key information Document (Put Options)</a>
			</li>

			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Index-Futures-Dec-2018.pdf" class="g-link">Key Information Document (Futures)</a>
			</li>
		</ul>

		<div class="g-title-devider">
			order handling policy
		</div>

		<ul class="disclaimer-links__list">
			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Best-Execution-Policy.pdf" class="g-link">Best Execution Policy</a>
			</li>
		</ul>

		<div class="g-title-devider">
			order handling policy
		</div>

		<ul class="disclaimer-links__list">
			<li>
				<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Conflicts-of-Interest.pdf" class="g-link">Conflict of interest</a>
			</li>

			<li>
				<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
			</li>
		</ul>
	</div>
</div>

{% endblock %}