{# news-list.twig #}
{% extends "layouts/news-layout.twig" %}

{% set title = 'RTS 28 disclosures' %}

{% block page %}

<div class="news-article news-article--disclaimer">
	<h2 class="news-article__title">
		Under MiFID II, ITI Capital is obliged to publish and make available for download an annual summary of its top five execution venues, as well as information on the quality of execution obtained.
	</h2>

	<div class="news-article__text">
		<p>
			ITI Capital has chosen BestExHub to host its RTS 28 reports.  Current and potential clients can download our latest RTS 28 reports by clicking the following link:
		</p>

		<div class="g-icon-link">
			<div class="g-icon-link__icon">
				<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.002 0.546875V2.49716H18.587L10.04 10.8307L11.455 12.2105L20.001 3.87601V9.32315H22V0.546875H13.002ZM18 11.2734V22H0V4.44744H11V6.39773H2V20.0497H16V11.2734H18Z" fill="#EC231A"/>
				</svg>
			</div>

			<a href="http://bestexhub.com/">
				bestexhub.com
			</a>
		</div>
	</div>
</div>

{% endblock %}