{# news-list.twig #}
{% extends "layouts/news-layout.twig" %}

{% set title = 'Rates & Comissions' %}

{% block page %}

<div class="news-article news-article--disclaimer">
	<h2 class="news-article__title news-article__title--nomargin">
		Please contact the Dealing Desk for details of commissions and other trading expenses
	</h2>
	<div class="g-link-group">
		<a href="tel:+4402038898355" class="g-link g-link-group__item">+44 (0) 20 3889 8355</a>
		<a href="mailto:dealing@iticapital.com" class="g-link g-link-group__item">dealing@iticapital.com</a>
	</div>
</div>

{% endblock %}