{% extends "layouts/news-layout.twig" %}

{% set title = 'Frequently Asked<br>Questions' %}
{% set headerModifier = 'news-layout-header--search' %}

{% block page %}
<div class="faq">
	<div class="faq__wrapper">
		<ul class="faq__questions">
			<li class="faq__questions-item">
				Sample question&nbsp;1
			</li>
			<li class="faq__questions-item">
				Sample question&nbsp;2, in&nbsp;case it&nbsp;is&nbsp;long and takes two lines of&nbsp;text, it&nbsp;would look like this. Sample question&nbsp;2, in&nbsp;case it&nbsp;is&nbsp;long and takes two lines...
			</li>
			<li class="faq__questions-item">
				Sample question&nbsp;3
			</li>
			<li class="faq__questions-item">
				Sample question&nbsp;4
			</li>
			<li class="faq__questions-item">
				Sample question&nbsp;5, in&nbsp;case it&nbsp;is&nbsp;long and takes two lines of&nbsp;text, it&nbsp;would look like this. Sample question&nbsp;2, in&nbsp;case it&nbsp;is&nbsp;long and takes two lines...
			</li>
			<li class="faq__questions-item">
				Sample question&nbsp;6
			</li>
		</ul>
		<ul class="faq__answers">
			<li class="faq__answers-item faq__answers-item--big">
				<h2 class="faq__answers-item-title">
					Sample question 1
				</h2>
				<p>
					Sample answer 1. It is lorem ipsum. Etiam eget amet penatibus consectetur auctor eu mauris. Eget luctus tempor consequat platea. Donec nunc interdum et congue leo cursus aliquet sed. Integer tincidunt elementum et, justo quis. Egestas ipsum sodales sed in dignissim mauris vestibulum etiam. Non viverra amet aliquet aliquam et, in hendrerit ac purus. Odio tortor ipsum placerat placerat sed facilisi auctor placerat risus. Diam risus tellus cum vel eu pulvinar amet aliquet. Eu donec fermentum pellentesque aenean dui diam venenatis ultrices. Praesent eu est feugiat nunc. Accumsan sed ut nibh non varius ornare nunc aenean.
				</p>
				<p>
					Mauris sed pulvinar malesuada id sodales purus magna in auctor. Consectetur sit a vivamus est magna integer imperdiet tincidunt. Suspendisse tristique turpis eu venenatis. Congue est adipiscing elementum ipsum sit lorem nisi, at. In hac eget tellus sed morbi morbi ipsum at amet. Eu amet et lobortis senectus maecenas pharetra, massa mauris. At nulla dolor dolor amet adipiscing maecenas aliquam. Arcu, non aliquet at velit enim. Commodo mi nec velit lorem neque, pulvinar. Quam nec et ultrices nunc morbi non. Ac lorem quisque quam adipiscing. Egestas scelerisque feugiat commodo est purus, bibendum vitae duis tellus. Massa id est sagittis facilisis nunc, consectetur est nisl, consequat.
				</p>
				<p>
					Egestas diam leo auctor iaculis ac nisi, et nibh. Sed morbi ut quis nisl lectus. Molestie neque adipiscing laoreet quam feugiat volutpat. Augue faucibus magnis dictum arcu, et semper quam. Morbi viverra felis, mauris, vitae nibh. Sit auctor mauris sit viverra libero quis. Est at quis ultricies donec in nunc dolor imperdiet. Accumsan sed etiam libero libero nunc. Aliquet at sit in sed nisl.
				</p>
				<div class="faq__answers-img">
					<img src="./img/notebook.jpg" alt="notebook">
				</div>
				<p>
					Mauris sed pulvinar malesuada id sodales purus magna in auctor. Consectetur sit a vivamus est magna integer imperdiet tincidunt. Suspendisse tristique turpis eu venenatis. Congue est adipiscing elementum ipsum sit lorem nisi, at. In hac eget tellus sed morbi morbi ipsum at amet. Eu amet et lobortis senectus maecenas pharetra, massa mauris. At nulla dolor dolor amet adipiscing maecenas aliquam. Arcu, non aliquet at velit enim. Commodo mi nec velit lorem neque, pulvinar. Quam nec et ultrices nunc morbi non. Ac lorem quisque quam adipiscing. Egestas scelerisque feugiat commodo est purus, bibendum vitae duis tellus. Massa id est sagittis facilisis nunc, consectetur est nisl, consequat.
				</p>
				<p>
					Egestas diam leo auctor iaculis ac nisi, et nibh. Sed morbi ut quis nisl lectus. Molestie neque adipiscing laoreet quam feugiat volutpat. Augue faucibus magnis dictum arcu, et semper quam. Morbi viverra felis, mauris, vitae nibh. Sit auctor mauris sit viverra libero quis. Est at quis ultricies donec in nunc dolor imperdiet. Accumsan sed etiam libero libero nunc. Aliquet at sit in sed nisl.
				</p>
			</li>
			<li class="faq__answers-item">
				<h2 class="faq__answers-item-title">
					Sample question&nbsp;2, in&nbsp;case it&nbsp;is&nbsp;long and takes two lines of&nbsp;text up&nbsp;there, it&nbsp;would take three lines of&nbsp;text here
				</h2>
				<p>
					Sample answer 2. It is lorem ipsum. Etiam eget amet penatibus consectetur auctor eu mauris. Eget luctus tempor consequat platea. Donec nunc interdum et congue leo cursus aliquet sed. Integer tincidunt elementum et, justo quis. Egestas ipsum sodales sed in dignissim mauris vestibulum etiam. Non viverra amet aliquet aliquam et, in hendrerit ac purus. Odio tortor ipsum placerat placerat sed facilisi auctor placerat risus. Diam risus tellus cum vel eu pulvinar amet aliquet. Eu donec fermentum pellentesque aenean dui diam venenatis ultrices. Praesent eu est feugiat nunc. Accumsan sed ut nibh non varius ornare nunc aenean.
				</p>
				<div class="faq__answers-img">
					<img src="./img/tablet.jpg" alt="tablet">
				</div>
				<p>
					Egestas diam leo auctor iaculis ac nisi, et nibh. Sed morbi ut quis nisl lectus. Molestie neque adipiscing laoreet quam feugiat volutpat. Augue faucibus magnis dictum arcu, et semper quam. Morbi viverra felis, mauris, vitae nibh. Sit auctor mauris sit viverra libero quis. Est at quis ultricies donec in nunc dolor imperdiet. Accumsan sed etiam libero libero nunc. Aliquet at sit in sed nisl.
				</p>
				<ol class="g-num-list">
					<li>Mauris sed pulvinar <a href="" class="g-link g-link--inline">malesuada</a> id sodales purus magna in auctor.</li>
                    <li>Consectetur sit a vivamus est magna integer imperdiet tincidunt.</li>
                    <li>Suspendisse tristique turpis eu venenatis.</li>
				</ol>
				<ul class="g-dash-list">
					<li>Mauris sed pulvinar malesuada id sodales purus magna in auctor.</li>
                    <li>Consectetur sit a vivamus est magna integer imperdiet tincidunt.</li>
                    <li>Suspendisse tristique turpis eu venenatis.</li>
				</ul>
				<p>
					Egestas diam leo auctor iaculis ac nisi, et nibh. Sed morbi ut quis nisl lectus. Molestie neque adipiscing laoreet quam feugiat volutpat. Augue faucibus magnis dictum arcu, et semper quam. Morbi viverra felis, mauris, vitae nibh. Sit auctor mauris sit viverra libero quis. Est at quis ultricies donec in nunc dolor imperdiet. Accumsan sed etiam libero libero nunc. Aliquet at sit in sed nisl.
				</p>
			</li>
			<li class="faq__answers-item">
				<h2 class="faq__answers-item-title">
					Sample question&nbsp;3
				</h2>
				<p>
					
				</p>
				<p>
					
				</p>
				<p>
					
				</p>
				<div class="faq__answers-img">
					<img src="" alt="">
				</div>
				<p>
					
				</p>
			</li>
			<li class="faq__answers-item">
				<h2 class="faq__answers-item-title">
					Sample question&nbsp;4
				</h2>
				<p>
					
				</p>
				<p>
					
				</p>
				<p>
					
				</p>
				<div class="faq__answers-img">
					<img src="" alt="">
				</div>
				<p>
					
				</p>
			</li>
			<li class="faq__answers-item">
				<h2 class="faq__answers-item-title">
					Sample question&nbsp;5, in&nbsp;case it&nbsp;is&nbsp;long and takes two lines of&nbsp;text, it&nbsp;would look like this. Sample question&nbsp;2, in&nbsp;case it&nbsp;is&nbsp;long and takes two lines...
				</h2>
				<p>
					
				</p>
				<p>
					
				</p>
				<p>
					
				</p>
				<div class="faq__answers-img">
					<img src="" alt="">
				</div>
				<p>
					
				</p>
			</li>
			<li class="faq__answers-item">
				<h2 class="faq__answers-item-title">
					Sample question&nbsp;6
				</h2>
				<p>
					
				</p>
				<p>
					
				</p>
				<p>
					
				</p>
				<div class="faq__answers-img">
					<img src="" alt="">
				</div>
				<p>
					
				</p>
			</li>
		</ul>
	</div>
</div>
{% endblock %}