{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'private' %}
{% set instModify = 'header-dropdown--short' %}
{% set callback = true %}
{% set stickyContainer = true %}
{% set btcePopup = true %}

{% block page %}
	{% include "./blocks/exchange-map.twig" %}
	<div class="container">
		<div class="private__left">
			{% include "./blocks/exchanges-participants.twig" %}

			{% include "./blocks/our-services.twig" %}
		</div>

		<div class="private__right private__right--inst">
			<div class="sticky-card _stickyDesktop" data-margin-top="200">
				<div class="sticky-card__contact">
					<div class="sticky-card__contact-title">Dealing and customer service</div>
					<a href="#" class="g-link">
						+44 (0) 20 3889 8333
					</a>
				</div>

				<div class="sticky-card__contact">
					<div class="sticky-card__contact-title">E-mail</div>
					<a href="#" class="g-link">
						dealing@iticapital.com
					</a>
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Open an Account
					</a>

					<a href="#" class="sticky-card__login">
						Log In
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-0">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/inst-section-bg1.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Global Direct <br>Electronic Access
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-page-subtitle">
				Institutions are executing a steadily increasing proportion of business on a low touch basis via direct market access solutions. At ITI Capital we apply state-of-the-art technology to provide a range of direct market access solutions to numerous markets and liquidity venues.
			</div>

			<h3 class="g-title-semi">
				Asset Class Coverage
			</h3>

			<ul class="g-dash-list">
				<li>
					Global Equities
				</li>

				<li>
					Exchange Listed Derivatives
				</li>
			</ul>
		</div>
	</div>

	<div class="private-section" id="inst-2">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/inst-section-bg3.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Global High-Touch Trading
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-page-subtitle">
				As market structures become more complex and trading venues and tools proliferate, many of our institutional investors appreciate the value of a high-quality specialist execution desk accessing multiple pools of liquidity to facilitate block transactions.
			</div>

			<h3 class="g-title-semi">
				Multi-Asset Coverage
			</h3>

			<ul class="g-dash-list">
				<li>
					Fixed Income
				</li>

				<li>
					Equity
				</li>

				<li>
					Derivatives
				</li>

				<li>
					Commodities and FX
				</li>
			</ul>

			<div class="g-typography">
				<h3 class="g-title-semi">
					Global Coverage
				</h3>

				<p>
					Fully adept at covering global markets, with specialist knowledge and focus on Russia and CIS.
				</p>

				<p>
					Daily insights from ITI Capital’s dedicated CIS Multi-Asset Institutional Sales Trading team based in London and Moscow.
				</p>

				<h3 class="g-title-semi">
					Analytical and Trading Commentary
				</h3>

				<p>
					Daily, Weekly and monthly regional corporate actions, corporate restructuring, and M&A
				</p>

				<p>
					Daily analysis of key technical factors expected to influence trading.
				</p>

				<p>
					Market News and Intelligence.
				</p>

				<p>
					Macro-Economic forecasting and factual interpretation.
				</p>

				<h3 class="g-title-semi">
					Block Trading
				</h3>

				<p>
					Pure Agency execution, with access to block liquidity both on an OTC basis and by access to numerous exchanges and venues.
				</p>

				<p>
					With our winning combination of local market expertise and order handling capability, ITI Capital meets the execution quality requirements of the most demanding clients.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-3">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/inst-section-bg4.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Foreign Exchange
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<h3 class="g-title-semi">
				Margin FX MT4
			</h3>

			<div class="g-typography">
				<p>
					A variety of tools, including market and pending orders, instant execution and trading from a chart, stop orders and trailing stop, a tick chart and trading history.
				</p>

				<p>
					Real-time market leading trade executions and opportunity for price improvements.
				</p>

				<p>
					Online quotes and interactive charts allow price action to be examined, enabling quick response to any changes, with 23 analytical objects and 30 built-in technical indicators.
				</p>

				<p>
					MT4 can automatically copy deals of other traders. Clients simply select a provider, subscribe to a signal and let the terminal copy the provider’s trades.
				</p>
			</div>

			<h3 class="g-title-semi">
				Deliverable FX
			</h3>

			<div class="g-typography">
				<p>
					With our competitive rates and fast, efficient services, we can help to fulfil your Deliverable FX needs across a variety of currencies.
				</p>

				<p>
					We can deliver same-day, next-day and spot payments.
				</p>

				<p>
					We can also cater to third-party payments.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-4">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/inst-section-bg5.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Securities Financing
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<h3 class="g-title-semi">
				Stock Borrowing and Lending
			</h3>

			<div class="g-typography">
				<p>
					Equity lending involves the lending of an equity position to a borrower versus some form of collateral at an agreed upon margin and interest rate for the term of the loan. The Sales and Trading desk offers a global product solution to our clients. We can provide clients with customised insight and a one-stop solution for execution, borrowing, portfolio enhancement and financing.
				</p>
			</div>

			<h3 class="g-title-semi">
				Repo and Reverse Repo
			</h3>

			<div class="g-typography">
				<p>
					Repurchase agreements, commonly referred to as ‘repos’, are contracts involving the simultaneous sale and future repurchase of an asset. Trading under a GMRA (Global Master Repurchase Agreement), ITI Capital can offer repo financing solutions on equities, ETF’s and fixed income securities issued in a wide variety of markets.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-5">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/inst-section-bg6.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Structured Products
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<h3 class="g-title-semi">
				Derivatives
			</h3>

			<div class="g-typography">
				<p>
					Providing access to a wide range of exchange traded derivatives (ETDs) as well as a full range of services customised to client's needs via over-the-counter derivatives (OTCs).
				</p>

				<p>
					Using OTC Derivatives allows clients to tailor make any investment or hedging strategy and achieve desirable pay off.  We leverage our in-depth market knowledge and our extensive network to serve our clients.
				</p>

				<p>
					We can perform deals in various jurisdictions and forms based on ISDA documentation.
				</p>
			</div>

			<h3 class="g-title-semi">
				Corporate Hedging
			</h3>

			<div class="g-typography">
				<p>
					We have expertise to design innovative derivative based hedging strategies for corporate clients including FX and Interest Rate hedging, Commodity hedging strategies that would allow to optimise their exposure to market and credit risk.  Our products range from simple forward and option based strategies to a combination of multiple derivatives to allow a tailor made solution.  Our team can guide you on the process of choosing your hedging strategy including help in  historical and forward looking analysis.
				</p>
			</div>

			<h3 class="g-title-semi">
				Structured Notes
			</h3>

			<div class="g-typography">
				<p>
					Structured Notes allow investors to take customised exposure to a particular asset class depending on the clients preferences, investment objectives and risk appetite.
				</p>

				<p>
					Structured Notes allow investors to take customised exposure to a particular asset class depending on the clients preferences, investment objectives and risk appetite.
				</p>

				<p>
					Our structuring team identifies trade ideas which are then tailored to meet clients objectives. We work with third party issuers as well as can issue custom made Structured Notes to meet client specific investment idea.
				</p>

				<p>
					Our team of experts may structure any kind of payoff and exposure and is able to provide embedded leverage and structure any degree of capital protection.
				</p>
			</div>

			<h3 class="g-title-semi">
				Special Situations
			</h3>

			<div class="g-typography">
				<p>
					Providing services for special situations, such as the securitisation of your assets, access to financing and leverage via special purpose vehicles and repackaging.
				</p>

				<p>
					 We are happy to listen to your specific needs and provide you services for other special situations be it securitisation of your assets, access to financing and leverage via special purpose vehicles and repackaging.  We help clients access alternative investment solutions via securitising commodity trade finance deals and other market neutral optimisation strategies.   If you have a trade in mind but not sure how to implement it our team of experts will be happy to search for a solution for you on both asset and liability sides.  Whilst we offer bespoke investment and hedging solutions, our main objective is to build long lasting relationships with our clients.
				</p>
			</div>
		</div>
	</div>

	<div class="private-section" id="inst-6">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/inst-section-bg7.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Research and Analysis
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<ul class="g-dash-list">
				<li>
					Proprietary and bespoke Thematic Reviews
				</li>

				<li>
					Model Portfolio
				</li>

				<li>
					Technical Analysis
				</li>

				<li>
					Investment recommendations
				</li>
			</ul>

			<div class="news news--inst">
				<div class="news__feed">
					<a href="#" class="news__item">
						<div class="news__item-title ">
							Fed’s cut: shot in the air, how soon UST yields to fall below 0%?
						</div>

						<ul class="news__item-info">
							<li>6 March</li>
						</ul>
					</a>

					<a href="#" class="news__item">
						<div class="news__item-title ">
							Fed’s cut: shot in the air, how soon UST yields to fall below 0%?
						</div>

						<ul class="news__item-info">
							<li>6 March</li>
						</ul>
					</a>

					<a href="#" class="news__item">
						<div class="news__item-title ">
							Fed’s cut: shot in the air, how soon UST yields to fall below 0%?
						</div>

						<ul class="news__item-info">
							<li>6 March</li>
						</ul>
					</a>

					<a href="#" class="news__item">
						<div class="news__item-title ">
							Fed’s cut: shot in the air, how soon UST yields to fall below 0%?
						</div>

						<ul class="news__item-info">
							<li>6 March</li>
						</ul>
					</a>
				</div>

				<a href="#" class="g-link news__show-all">
					All News of Research and Analysis ->
				</a>
			</div>

		</div>

	</div>

	<div class="private-section" id="inst-7">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/inst-section-bg6.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Digital Assets
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-typography">
				<p>
					As markets evolve and opportunities arise in emerging asset classes, we provide our clients with a broad range of products designed to give exposure to the growing Digital Asset class. From Trading of Digital Asset Products to lending and derivatives solutions including custody, our team of experts will provide you with the right solution to your needs.
				</p>

				<p>
					As an Authorised Participant ITI Capital offers access to BTCe — Exchange Traded Crypto, the world's First centrally cleared Bitcoin ETP — <span class="g-link" onclick="o2.popups.showPopup('#popup-btce');">Learn More</span>
				</p>
			</div>
		</div>
	</div>
{% endblock %}


{% block footer %}
	<footer class="footer footer--short footer--disclaimer">
		<div class="footer-disclaimer">
			<div class="footer-disclaimer__left">
				<div class="g-section-title">
					Disclaimer
				</div>

				<div class="g-typography">
					<p>
						Trading financial markets on margin carries a high level of risk, and may not be suitable as losses can exceed deposits. You should be aware and fully understand all risks associated with financial markets and trading. Prior to trading any products offered by ITI Capital Limited, you should carefully consider your financial situation and your level of experience and understanding. ITI Capital Limited assumes no liability for errors, inaccuracies or omissions and does not warrant the accuracy, completeness of information, text, graphics, links or other items contained within these materials. You should read and understand the Terms and Conditions on the ITI Capital Limited website prior to taking further action.
					</p>

					<p>
						ITI Capital Limited is a registered company in England and Wales (Registration No. 02926252), authorised and regulated in the United Kingdom by the Financial Conduct Authority (Registration No. 171487) and is a member of the London Stock Exchange.
					</p>

					<p>
						The registered address of ITI Capital Limited is Level 33 Tower 42, 25 Old Broad Street, London EC2N 1HQ, United Kingdom.
					</p>
				</div>
			</div>
			<div class="footer-disclaimer__right">
				<div class="g-section-title">
					INSTITUTIONAL LEGAL NOTICES
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/Best-Execution-Policy.pdf" class="g-link">Best execution policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Conflicts-of-Interest.pdf" class="g-link">Conflicts of interest policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Privacy-policy_1.pdf" class="g-link">Privacy policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Risk-Warnings-and-Further-Disclosure-October-2018.pdf" class="g-link">Risk disclosure notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Professonal-Nov-2018.pdf" class="g-link">Terms and conditions professional</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Terms-of-Business-Retail-Client-October-2018.pdf" class="g-link">Terms and conditions retail</a>
					</li>
				</ul>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Client categorisation notice</a>
					</li>

					<li>
						<a href="https://iticapital.com/important-information/" class="g-link">Counterparty risk policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/rate-card/" class="g-link">Rate card</a>
					</li>

					<li>
						<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Complaints-Procedure.pdf" class="g-link">Complaints procedure</a>
					</li>
				</ul>
			</div>

			<div class="footer__copyright footer__copyright--left">
				© iticapital.com, 1994—2020
			</div>
		</div>
	</footer>
{% endblock %}