{# news-list.twig #}
{% extends "layouts/news-layout.twig" %}

{% set headerModifier = 'news-layout-header--big' %}

{% set title = 'ITI Capital: Why USDRUB won’t strengthen to 75?' %}

{% block page %}

<div class="news-article">
	<h2 class="news-article__title">
		We believe that the market has passed the first bottom, but we do not rule out another much slower decline. Against this backdrop, it is already possible to open some long positions in the Russian equities, especially due to high dividend payments, which on average rose to 11% from 8% the previous week.
	</h2>

	<div class="news-article__text _lightBox">
		<p>
			Global volatility will stay at least through June, the epidemic is expected to stop spreading by that time. The US administration and global Central banks will keep the market from prolonged fall, so buying opportunities will arise.
		</p>

		<p>
			We believe that OPEC+ participants will be able to come to an agreement in the near future, since current prices are hurting Saudi Arabia’s weak economy. Meanwhile, Russia is more vulnerable to cheap oil from ambitions spending announced over next three years for the social and demographic projects local currency rate and Putin’s January decrees’ target. Now is not the time to buy the USD/RUB, on the contrary, it is a sell, but the strengthening will be limited. We do not expect the Central Bank to raise the rate on March 20, however the regulator may change its tone. The Fed is expected to cut the rate by 50 bps on March 18 (out forecast is a 25-bps cut), while ECB is projected to agree a 10 bps-cut on March 12. If the coronavirus problem doesn’t get any worse, the bulls will get the room for temporary growth.
		</p>

		<h3>The decline is caused by two factors</h3>

		<p>
			Faster coronavirus' spreading over the weekend. The number of infections worldwide is more than 125,5, the WHO says, with nearly 4,607 deaths. Italy has become the first country to place its entire national territory under quarantine. US coronavirus cases surpass 1,300, New York has declared state of emergency. Apart from to China, there are three major outbreak centres: Korea, Italy and Iran.
		</p>

		<p>
			Oil prices rout caused by two factors. First, Russia quit OPEC+ production cut deal. The current agreement between the 20 nations to remove as much as 2.1 mln barrels a day of oil from the market was not extended. After the deal collapsed oil prices fell from $51 to $46/bbl. Secondly, Saudi Arabia announced massive discounts to its official selling prices for April, Reuters reported, with the kingdom preparing to ramp up production above the 10 mln barrels per day (bpd) mark. On March 9, prices fell from $46 to $32/bbl and then partially recovered. Riyadh currently pumps 9.7 mln bpd, but it has the capacity to increase production up to 12.5 mln bpd. The Saudi Arabia - Russia price war is triggering a massive negative oil demand shock (lower consumption due to coronavirus) and positive supply shock (production growth). Following OPEC+'s fail the oil prices posted the largest intraday decline since the Persian Gulf War in 1991.
		</p>
	</div>


</div>

{% endblock %}