{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'private' %}

{% block page %}
	{% include "./blocks/priviteClientsBanner.twig" with {'title': 'Trading Platforms', 'bgPrefix': 'trading'} %}
	<div class="container">
		<div class="private__left">
			<h2 class="g-page-subtitle">
				You know what you want to invest in, where and when. So we’ve invested in advanced technology, to give you the access and flexibility you need to implement your investment strategy.
			</h2>
		</div>
	</div>

	<div class="private-section">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/trade-section-bg1.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<img src="./img/phoenix.svg" alt="">
			</div>

			<div class="private-section-header__img">
				<img src="./img/trade-phoenix.png" alt="">
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-page-subtitle">
				A multi-asset, cross-collateralised trading platform giving our clients total control.
			</div>

			<div class="g-typography">
				<p>
					Phoenix was developed to utilise superior cross-margin capabilities, giving our clients greater control over their efficient use of capital, as well as enabling them to view all holdings from one screen, across a wide range of asset classes. With the ability to trade equities, Phoenix allows you to research, create, and protect multiple portfolios by utilising live streaming multi-market data, along with comprehensive technical analysis and fundamental company data.
				</p>
			</div>

			<h3 class="g-title-semi">
				Why use Phoenix?
			</h3>

			<ul class="g-dash-list">
				<li>
					Access to live streaming data on global equity markets
				</li>

				<li>
					Access to live prices on major futures and option exchanges
				</li>

				<li>
					Free to use fundamental and technical research
				</li>

				<li>
					Streaming news feeds
				</li>

				<li>
					Access to 3rd party research
				</li>
			</ul>

			<div class="g-title-devider">
				Links
			</div>

			<div class="private-section__links">
				<a href="https://www.clientam.com/en/index.php?f=16040&ns=T&conf=am&wbid=TEnT121_3" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/Download.svg" alt="">
						</div>

						<div class="link-card__title">
							Download the new Phoenix Trading system ->
						</div>

						<div class="link-card__descr">
							Comprehensive trading platform access
						</div>
					</div>
				</a>

				<a href="https://gre.wgw.clientam.com/webtrader/servlet/login?id=TEnT121_3" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/LogIn.svg" alt="">
						</div>

						<div class="link-card__title">
							Log into the Phoenix System using an internet browser ->
						</div>

						<div class="link-card__descr">
							Web browser access
						</div>
					</div>
				</a>

				<a href="https://www.clientam.com/en/handytrader/index.php" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/UseLink.svg" alt="">
						</div>

						<div class="link-card__title">
							Use the following link to download 2 Factor Authentication ->
						</div>
					</div>
				</a>

				<a href="http://www.clientam.com/php/whiteLabel/welcome.php?id=TEnT121_3" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/UserGuide.svg" alt="">
						</div>

						<div class="link-card__title">
							View the new Phoenix Trading system user guide ->
						</div>
					</div>
				</a>
			</div>

			{# <div class="private-section__links">
				<div class="private-section__links-item">
					<a href="#" class="g-link">
						Corporate Account Application ->
					</a>

					<a href="#" class="g-link">
						Individual Account Application ->
					</a>
				</div>

				<div class="private-section__links-item">
					<a href="#" class="g-link">
						Joint Account Application ->
					</a>

					<a href="#" class="g-link">
						Individual Account Application ->
					</a>
				</div>
			</div> #}
		</div>
	</div>

	<div class="private-section">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/trade-section-bg2.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Margin FX (MT4)
				</h2>
			</div>

			<div class="private-section-header__img">
				<img src="./img/trade-marginfx.png" alt="">
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-page-subtitle">
				MetaTrader 4 (MT4) is just one of the various market leading platforms that we offer for margin FX trading.
			</div>

			<div class="g-typography">
				<p>
					MetaTrader 4 (MT4) A platform that gives clients flexible and convenient access to global foreign exchange markets, offering a multitude of opportunities to traders of all skill levels – advanced technical analysis, flexible trading systems and algorithmic trading as well as mobile trading applications. The powerful trading system allows the implementation of strategies of any complexity.
				</p>
			</div>

			<h3 class="g-title-semi">
				Transparent pricing and cutting edge innovation for your automated trading
			</h3>

			<ul class="g-dash-list">
				<li>
					A variety of tools, including market and pending orders, instant execution and trading from a chart, stop orders and trailing stop, a tick chart and trading history
				</li>

				<li>
					Real-time market leading trade executions and opportunity for price improvements
				</li>

				<li>
					Online quotes and interactive charts allow price action to be examined, enabling quick response to any changes, with 23 analytical objects and 30 built-in technical indicators
				</li>

				<li>
					MT4 can automatically copy deals of other traders.Clients simply select a provider, subscribe to a signal and let the terminal copy the provider’s trades
				</li>
			</ul>

			<div class="g-title-devider">
				Links
			</div>

			<div class="private-section__links">
				<a href="https://download.mql5.com/cdn/web/14940/mt4/iticapitallimited4setup.exe" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/Android.svg" alt="">
						</div>

						<div class="link-card__title">
							Download Mobile Android version ->
						</div>
					</div>
				</a>

				<a href="https://download.mql5.com/cdn/mobile/mt4/ios?server=ITICapitalLimited-Demo-UK,ITICapitalLimited-Live-UK" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/iOS.svg" alt="">
						</div>

						<div class="link-card__title">
							Download Mobile iOS version ->
						</div>
					</div>
				</a>

				<a href="https://slack-redir.net/link?url=https%3A%2F%2Fdownload.mql5.com%2Fcdn%2Fmobile%2Fmt4%2Fandroid%3Fserver%3DITICapitalLimited-Demo-UK%2CITICapitalLimited-Live-UK" class="link-card" target="_blank">
					<div class="link-card__inner">
						<div class="link-card__icon">
							<img src="./img/Desktop.svg" alt="">
						</div>

						<div class="link-card__title">
							Download Desktop Terminal ->
						</div>
					</div>
				</a>
			</div>

			{# <div class="private-section__links">
				<div class="private-section__links-item">
					<a href="#" class="g-link">
						Open an Account ->
					</a>

					<a href="#" class="g-link">
						Online Enquiry ->
					</a>
				</div>
			</div> #}
		</div>
	</div>

	<div class="private-section">
		<div class="private-section-header">
			<div class="private-section-header__bg">
				<img src="./img/trade-section-bg2.jpg" alt="">
			</div>

			<div class="private-section-header__title">
				<h2>
					Deliverable FX Solutions
				</h2>
			</div>
		</div>

		<div class="private-section-content">
			<div class="g-page-subtitle">
				From large corporate clients to individuals with relatively modest requirements we can provide an unparalleled level of customer service and assist youto find the best solution tailored to your specific FX needs.
			</div>

			<div class="g-typography">
				<p>
					Optimise your working capital through short, medium and long term hedging strategies, protecting your budgets from FX volatility. Centralise multiple payments to multiple beneficiaries across multiple locations. Collect and pay in 60+ currencies.
				</p>
			</div>

			{# <div class="g-title-devider">
				Links
			</div>

			<div class="private-section__links">
				<div class="private-section__links-item">
					<a href="#" class="g-link">
						Open an Account ->
					</a>

					<a href="#" class="g-link">
						Online Enquiry ->
					</a>
				</div>
			</div> #}
		</div>
	</div>
{% endblock %}

{% block footer %}
	<footer class="footer footer--short footer--disclaimer">
		<div class="footer-disclaimer">
			<div class="footer-disclaimer__left">
				<div class="g-section-title">
					Disclaimer
				</div>

				<div class="g-typography">
					<p>
						All trading involves risk. This is especially true for trading with complex products, such as Derivatives and CFDs. It’s up to you to make sure you understand the instruments themselves, how they work and the risks you take. You could lose significantly more than you invest. Always consider your financial situation and level of experience before trading any ITI Capital Ltd product.
					</p>

					<p>
						We strive for 100% accuracy but just like everyone else we’re human, so ITI Capital Ltd assumes no liability for errors, inaccuracies or omissions, and can’t guarantee accuracy in any of our online or offline materials.
					</p>

					<p>
						This website contains only generalised information, it is not advice and is not directed specifically to you or your client’s goals, requirements or financial circumstances.
					</p>

					<p>
						Please read our <a href="https://iticapital.com/terms-and-conditions.html">Terms and Conditions</a> before you start trading.
					</p>

					<p>
						ITI Capital Ltd is a registered company in England and Wales (registration no. 02926252), authorised and regulated in the UK by the FCA (registration no. 1z71487), and is a member of the London Stock Exchange.
					</p>

					<p>
						Registered company in England and Wales Registration Number: 02926252 VAT No: 904 4506 46. FCA Registration No. 171487 ITI Capital Limited Level 33 Tower 42, 25 Old Broad Street, London EC2N 1HQ, UK
					</p>
				</div>
			</div>
			<div class="footer-disclaimer__right">
				<div class="g-section-title">
					Terms & Conditions
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/10/Terms-of-Business-Retail-Client-October-2018.pdf" class="g-link">Terms & Conditions for Private Clients</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/11/Terms-of-Business-Professonal-Nov-2018.pdf" class="g-link">Terms & Conditions Professional</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_CFD-Dec-2018.pdf" class="g-link">Key information Document (CFD)</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Call-options-Dec-2018.pdf" class="g-link">Key Information Doucment (Call Options)</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Put-options-Dec-2018.pdf" class="g-link">Key information Document (Put Options)</a>
					</li>
				</ul>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Index-Futures-Dec-2018.pdf" class="g-link">Key Information Document (Futures)</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Best-Execution-Policy.pdf" class="g-link">Best Execution Policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Conflicts-of-Interest.pdf" class="g-link">Conflict of interest</a>
					</li>

					<li>
						<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
					</li>
				</ul>

				<div class="g-section-title">
					Other LEGAL NOTICES
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/cookies%20policy.pdf" class="g-link">Cookies</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Rate-Card-Sept-2019.pdf" class="g-link">Rate Card</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Privacy-policy_1.pdf" class="g-link">Privacy Poliсу</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Modern%20Slavery%20Policy%20Statement.pdf" class="g-link">Modern Slavery Act</a>
					</li>
				</ul>
			</div>

			<div class="footer__copyright footer__copyright--left">
				© iticapital.com, 1994—2020
			</div>
		</div>
	</footer>
{% endblock %}