{# news-list.twig #}
{% extends "layouts/short-footer-layout.twig" %}
{% set wrapperName = 'private' %}
{% set callback = true %}

{% block page %}
	{% include "./blocks/priviteClientsBanner.twig" with {'title': 'Trading', 'bgPrefix': 'private', 'titleModifier': 'private-clients-banner__title--white'} %}
	<div class="container">
		<div class="private__left">
			<h2 class="g-page-subtitle">
				Multi-asset, multi-currency — wherever you see an opportunity, our innovative Phoenix platform gives you access.
			</h2>

			<h3 class="g-title-semi">
				Global Stocks
			</h3>

			<ul class="g-dash-list">
				<li>
					DMA share Trading in over 125 markets in 31 countries all from one single account
				</li>

				<li>
					Convert currencies at competitive rates for international stock trading
				</li>
			</ul>

			<h3 class="g-title-semi">
				Options
			</h3>

			<ul class="g-dash-list">
				<li>
					Sophisticated trading technology built by traders for traders.
				</li>

				<li>
					Trade a full range of options contracts – Including currency, equity and index on all of the major exchanges in Europe, Asia, and North America.
				</li>

				<li>
					Use Option trader for executing multi-leg or speculative trades all from one single screen.
				</li>
			</ul>

			<h3 class="g-title-semi">
				Futures/FOP
			</h3>

			<ul class="g-dash-list">
				<li>
					Index futures, commodities and futures options trading on more than 35 markets globally.
				</li>

				<li>
					Hedging or speculation on all of the major financial centres in North America, Europe and Asia using the following futures contracts:
				</li>

				<li>
					Agricultural, Energy, Equity Index, Metals, Currency and Fixed income.
				</li>
			</ul>

			<h3 class="g-title-semi">
				Bonds
			</h3>

			<ul class="g-dash-list">
				<li>
					Electronic access to over 38,000 corporate bonds, 850,000 municipal securities and 33,000 CDs.
				</li>

				<li>
					Direct market access to European, US, and Canadian corporate bonds, 1,900+ non-US Sovereign bonds in Asia and Europe, US government securities and US Municipal bonds.
				</li>
			</ul>

			<h3 class="g-title-semi">
				ETFs
			</h3>

			<ul class="g-dash-list">
				<li>
					A growing and popular asset class get the diversification of mutual funds/unit trusts with the trading flexibility of stocks.
				</li>

				<li>
					Our coverage includes a wide range of equity and bond indices on 28 exchanges in 14 countries, including short ETFs and leveraged ETFs.
				</li>
			</ul>

			<div class="g-title-devider">
				About Trading platforM
			</div>

			<div class="private__trading-logo">
				<img src="./img/phoenix.svg" alt="">
			</div>

			<div class="private__trading-descr">
				<p>
					We’ve created Phoenix so you can trade the world through a single, truly flexible, next-generation platform.
				</p>

				<p>
					Our thoughtfully developed technology gives you direct access to the global markets and instruments that fit your investment strategy. Multi-asset, multi-currency, whatever you need, Phoenix takes you there.
				</p>
			</div>

			<a href="#" class="private__more">
				Learn More ->
			</a>
		</div>
		<div class="private__right">
			<div class="sticky-card">
				<div class="sticky-card__contact">
					<div class="sticky-card__contact-title">Dealing and customer service</div>
					<a href="#" class="g-link">
						+44 (0) 20 3889 8333
					</a>
				</div>

				<div class="sticky-card__contact">
					<div class="sticky-card__contact-title">E-mail</div>
					<a href="#" class="g-link">
						dealing@iticapital.com
					</a>
				</div>

				<div class="sticky-card__btn-group">
					<a href="#" class="g-btn">
						Open an Account
					</a>

					<a href="#" class="sticky-card__login">
						Log In
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<footer class="footer footer--short footer--disclaimer">
		<div class="footer-disclaimer">
			<div class="footer-disclaimer__left">
				<div class="g-section-title">
					Disclaimer
				</div>

				<div class="g-typography">
					<p>
						All trading involves risk. This is especially true for trading with complex products, such as Derivatives and CFDs. It’s up to you to make sure you understand the instruments themselves, how they work and the risks you take. You could lose significantly more than you invest. Always consider your financial situation and level of experience before trading any ITI Capital Ltd product.
					</p>

					<p>
						We strive for 100% accuracy but just like everyone else we’re human, so ITI Capital Ltd assumes no liability for errors, inaccuracies or omissions, and can’t guarantee accuracy in any of our online or offline materials.
					</p>

					<p>
						This website contains only generalised information, it is not advice and is not directed specifically to you or your client’s goals, requirements or financial circumstances.
					</p>

					<p>
						Please read our <a href="https://iticapital.com/terms-and-conditions.html">Terms and Conditions</a> before you start trading.
					</p>

					<p>
						ITI Capital Ltd is a registered company in England and Wales (registration no. 02926252), authorised and regulated in the UK by the FCA (registration no. 1z71487), and is a member of the London Stock Exchange.
					</p>

					<p>
						Registered company in England and Wales Registration Number: 02926252 VAT No: 904 4506 46. FCA Registration No. 171487 ITI Capital Limited Level 33 Tower 42, 25 Old Broad Street, London EC2N 1HQ, UK
					</p>
				</div>
			</div>
			<div class="footer-disclaimer__right">
				<div class="g-section-title">
					Terms & Conditions
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/10/Terms-of-Business-Retail-Client-October-2018.pdf" class="g-link">Terms & Conditions for Private Clients</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/11/Terms-of-Business-Professonal-Nov-2018.pdf" class="g-link">Terms & Conditions Professional</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_CFD-Dec-2018.pdf" class="g-link">Key information Document (CFD)</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Call-options-Dec-2018.pdf" class="g-link">Key Information Doucment (Call Options)</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Put-options-Dec-2018.pdf" class="g-link">Key information Document (Put Options)</a>
					</li>
				</ul>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/12/ITI-Key-Information-Doc_Index-Futures-Dec-2018.pdf" class="g-link">Key Information Document (Futures)</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Best-Execution-Policy.pdf" class="g-link">Best Execution Policy</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Conflicts-of-Interest.pdf" class="g-link">Conflict of interest</a>
					</li>

					<li>
						<a href="https://iticapital.com/rts-28-disclosures/" class="g-link">RTS 28 disclosures</a>
					</li>
				</ul>

				<div class="g-section-title">
					Other LEGAL NOTICES
				</div>

				<ul class="disclaimer-links__list">
					<li>
						<a href="https://iticapital.com/assets/pdf/cookies%20policy.pdf" class="g-link">Cookies</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Rate-Card-Sept-2019.pdf" class="g-link">Rate Card</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/wp-content/uploads/2018/05/Privacy-policy_1.pdf" class="g-link">Privacy Poliсу</a>
					</li>

					<li>
						<a href="https://iticapital.com/assets/pdf/Modern%20Slavery%20Policy%20Statement.pdf" class="g-link">Modern Slavery Act</a>
					</li>
				</ul>
			</div>

			<div class="footer__copyright footer__copyright--left">
				© iticapital.com, 1994—2020
			</div>
		</div>
	</footer>
{% endblock %}